Source: sonic-cel-platform-modules
Section: main
Priority: extra
Maintainer: Wirut Getbamrung <wgetbumr@celestica.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: platform-modules-dx010
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp


Package: platform-modules-haliburton
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-seastone2
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp

Package: platform-modules-silverstone
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp.

Package: platform-modules-belgite
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as led, sfp
