[Unit]
Description=Inventec d7054q28b Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-d7054q28b start
ExecStop=-/etc/init.d/platform-modules-d7054q28b stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
