{%- set ports2cable = {
        'torrouter_server'       : '300m',
        'leafrouter_torrouter'   : '300m',
        'spinerouter_leafrouter' : '300m'
        }
-%}

{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,32) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}
