
{%- set default_cable = '40m' %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "11500000",
            "type": "ingress",
            "mode": "dynamic"
        },
        "egress_pool": {
            "size": "11500000",
            "type": "egress",
            "mode": "static"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool":"[BUFFER_POOL|ingress_lossless_pool]",
            "size":"0",
            "dynamic_th":"3"
        },
        "egress_lossless_profile": {
            "pool":"[BUFFER_POOL|egress_pool]",
            "mode": "static",
            "size":"170000",
            "static_th":"0"
        },
        "egress_lossy_profile": {
            "pool":"[BUFFER_POOL|egress_pool]",
            "size":"0",
            "mode": "dynamic",
            "dynamic_th":"3"
        }
    },
{%- endmacro %}
