[Unit]
Description=Accton AS4625-54T Platform initialization service
Before=pmon.service determine-reboot-cause.service system-health.service
After=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/accton_as4625_54t_util.py install
ExecStop=/usr/local/bin/accton_as4625_54t_util.py clean

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
