{# Construct config.bcm to include additional soc properties per specific device metadata requirement #}
{%- set IPinIP_sock = '' -%}
{%- set map_prio = '' -%}
{%- set pfcwd_sock = '' -%}
{%- if DEVICE_METADATA is defined and DEVICE_METADATA['localhost'] is defined and DEVICE_METADATA['localhost']['subtype'] is defined -%}
{%-     set switch_subtype = DEVICE_METADATA['localhost']['subtype'] -%}
{%-     if 'dualtor' in switch_subtype.lower() %}
{%-         set IPinIP_sock =
'sai_tunnel_underlay_route_mode=1
host_as_route_disable=1
l3_ecmp_levels=2' -%}
{%-         set map_prio = 'sai_remap_prio_on_tnl_egress=1' -%}
{%-     endif %}
{%- endif %}
{%- if SYSTEM_DEFAULTS is defined and 'tunnel_qos_remap' in SYSTEM_DEFAULTS and SYSTEM_DEFAULTS['tunnel_qos_remap']['status'] == 'enabled' -%}
{%-     set pfcwd_sock =
'hybrid_pfc_deadlock_enable=1
pfc_deadlock_seq_control=1
sai_pfc_dlr_init_capability=1' -%}
{%- endif %}
{# The following is the common soc properties that used to be named "th2-a7260cx3-64-112x50G+8x100G.config.bcm" #}
l3_alpm_hit_skip=1
sai_adjust_acl_drop_in_rx_drop=1
{{ map_prio }}
{{ pfcwd_sock }}
PHY_AN_ALLOW_PLL_CHANGE=1
arl_clean_timeout_usec=15000000
asf_mem_profile=2
bcm_num_cos=10
bcm_stat_flags=1
bcm_stat_jumbo=9236
cdma_timeout_usec=15000000
core_clock_frequency=1700
dma_desc_timeout_usec=15000000
dpp_clock_ratio=2:3
higig2_hdr_mode=1
ipv6_lpm_128b_enable=1
l3_alpm_enable=2
lpm_scaling_enable=0
l2xmsg_mode=1
max_vp_lags=0
mem_scan_enable=1
miim_intr_enable=0
module_64ports=1
os=unix
oversubscribe_mode=1
pbmp_xport_xe=0xfffffffd3fffffff4fffffffc7ffffffe
#pbmp_xport_xe=0x47fffffff1fffffffcfffffffe7ffffffe
phy_an_allow_pll_change_hg=0
phy_an_c73=1
phy_chain_rx_lane_map_physical{1.0}=0x3210
phy_chain_rx_lane_map_physical{101.0}=0x0123
phy_chain_rx_lane_map_physical{105.0}=0x0123
phy_chain_rx_lane_map_physical{109.0}=0x0123
phy_chain_rx_lane_map_physical{113.0}=0x2301
phy_chain_rx_lane_map_physical{117.0}=0x3210
phy_chain_rx_lane_map_physical{121.0}=0x3210
phy_chain_rx_lane_map_physical{125.0}=0x1203
phy_chain_rx_lane_map_physical{129.0}=0x3210
phy_chain_rx_lane_map_physical{13.0}=0x0321
phy_chain_rx_lane_map_physical{133.0}=0x1032
phy_chain_rx_lane_map_physical{137.0}=0x3210
phy_chain_rx_lane_map_physical{141.0}=0x0123
phy_chain_rx_lane_map_physical{145.0}=0x3210
phy_chain_rx_lane_map_physical{149.0}=0x2310
phy_chain_rx_lane_map_physical{153.0}=0x0132
phy_chain_rx_lane_map_physical{157.0}=0x1302
phy_chain_rx_lane_map_physical{161.0}=0x3021
phy_chain_rx_lane_map_physical{165.0}=0x2031
phy_chain_rx_lane_map_physical{169.0}=0x2031
phy_chain_rx_lane_map_physical{17.0}=0x3210
phy_chain_rx_lane_map_physical{173.0}=0x1302
phy_chain_rx_lane_map_physical{177.0}=0x2031
phy_chain_rx_lane_map_physical{181.0}=0x0213
phy_chain_rx_lane_map_physical{185.0}=0x0213
phy_chain_rx_lane_map_physical{189.0}=0x1302
phy_chain_rx_lane_map_physical{193.0}=0x3120
phy_chain_rx_lane_map_physical{197.0}=0x0231
phy_chain_rx_lane_map_physical{201.0}=0x2031
phy_chain_rx_lane_map_physical{205.0}=0x0213
phy_chain_rx_lane_map_physical{209.0}=0x2013
phy_chain_rx_lane_map_physical{21.0}=0x3021
phy_chain_rx_lane_map_physical{213.0}=0x3021
phy_chain_rx_lane_map_physical{217.0}=0x0231
phy_chain_rx_lane_map_physical{221.0}=0x2031
phy_chain_rx_lane_map_physical{225.0}=0x1203
phy_chain_rx_lane_map_physical{229.0}=0x1230
phy_chain_rx_lane_map_physical{233.0}=0x3021
phy_chain_rx_lane_map_physical{237.0}=0x1032
phy_chain_rx_lane_map_physical{241.0}=0x2301
phy_chain_rx_lane_map_physical{245.0}=0x0321
phy_chain_rx_lane_map_physical{249.0}=0x2301
phy_chain_rx_lane_map_physical{25.0}=0x2301
phy_chain_rx_lane_map_physical{253.0}=0x2301
phy_chain_rx_lane_map_physical{257.0}=0x3210
phy_chain_rx_lane_map_physical{29.0}=0x3021
phy_chain_rx_lane_map_physical{33.0}=0x1302
phy_chain_rx_lane_map_physical{37.0}=0x2031
phy_chain_rx_lane_map_physical{41.0}=0x3021
phy_chain_rx_lane_map_physical{45.0}=0x1023
phy_chain_rx_lane_map_physical{49.0}=0x0213
phy_chain_rx_lane_map_physical{5.0}=0x3201
phy_chain_rx_lane_map_physical{53.0}=0x3201
phy_chain_rx_lane_map_physical{57.0}=0x2013
phy_chain_rx_lane_map_physical{61.0}=0x0213
phy_chain_rx_lane_map_physical{65.0}=0x1203
phy_chain_rx_lane_map_physical{69.0}=0x0213
phy_chain_rx_lane_map_physical{73.0}=0x0213
phy_chain_rx_lane_map_physical{77.0}=0x3120
phy_chain_rx_lane_map_physical{81.0}=0x0213
phy_chain_rx_lane_map_physical{85.0}=0x2031
phy_chain_rx_lane_map_physical{89.0}=0x2031
phy_chain_rx_lane_map_physical{9.0}=0x0321
phy_chain_rx_lane_map_physical{93.0}=0x3120
phy_chain_rx_lane_map_physical{97.0}=0x1203
phy_chain_rx_polarity_flip_physical{1.0}=0x1
phy_chain_rx_polarity_flip_physical{10.0}=0x0
phy_chain_rx_polarity_flip_physical{100.0}=0x1
phy_chain_rx_polarity_flip_physical{101.0}=0x1
phy_chain_rx_polarity_flip_physical{102.0}=0x0
phy_chain_rx_polarity_flip_physical{103.0}=0x1
phy_chain_rx_polarity_flip_physical{104.0}=0x0
phy_chain_rx_polarity_flip_physical{105.0}=0x1
phy_chain_rx_polarity_flip_physical{106.0}=0x0
phy_chain_rx_polarity_flip_physical{107.0}=0x1
phy_chain_rx_polarity_flip_physical{108.0}=0x0
phy_chain_rx_polarity_flip_physical{109.0}=0x0
phy_chain_rx_polarity_flip_physical{11.0}=0x1
phy_chain_rx_polarity_flip_physical{110.0}=0x1
phy_chain_rx_polarity_flip_physical{111.0}=0x0
phy_chain_rx_polarity_flip_physical{112.0}=0x1
phy_chain_rx_polarity_flip_physical{113.0}=0x1
phy_chain_rx_polarity_flip_physical{114.0}=0x0
phy_chain_rx_polarity_flip_physical{115.0}=0x1
phy_chain_rx_polarity_flip_physical{116.0}=0x0
phy_chain_rx_polarity_flip_physical{117.0}=0x0
phy_chain_rx_polarity_flip_physical{118.0}=0x0
phy_chain_rx_polarity_flip_physical{119.0}=0x1
phy_chain_rx_polarity_flip_physical{12.0}=0x1
phy_chain_rx_polarity_flip_physical{120.0}=0x0
phy_chain_rx_polarity_flip_physical{121.0}=0x1
phy_chain_rx_polarity_flip_physical{122.0}=0x0
phy_chain_rx_polarity_flip_physical{123.0}=0x1
phy_chain_rx_polarity_flip_physical{124.0}=0x0
phy_chain_rx_polarity_flip_physical{125.0}=0x0
phy_chain_rx_polarity_flip_physical{126.0}=0x1
phy_chain_rx_polarity_flip_physical{127.0}=0x1
phy_chain_rx_polarity_flip_physical{128.0}=0x1
phy_chain_rx_polarity_flip_physical{129.0}=0x0
phy_chain_rx_polarity_flip_physical{13.0}=0x1
phy_chain_rx_polarity_flip_physical{130.0}=0x1
phy_chain_rx_polarity_flip_physical{131.0}=0x1
phy_chain_rx_polarity_flip_physical{132.0}=0x0
phy_chain_rx_polarity_flip_physical{133.0}=0x1
phy_chain_rx_polarity_flip_physical{134.0}=0x1
phy_chain_rx_polarity_flip_physical{135.0}=0x1
phy_chain_rx_polarity_flip_physical{136.0}=0x0
phy_chain_rx_polarity_flip_physical{137.0}=0x0
phy_chain_rx_polarity_flip_physical{138.0}=0x0
phy_chain_rx_polarity_flip_physical{139.0}=0x1
phy_chain_rx_polarity_flip_physical{14.0}=0x0
phy_chain_rx_polarity_flip_physical{140.0}=0x0
phy_chain_rx_polarity_flip_physical{141.0}=0x1
phy_chain_rx_polarity_flip_physical{142.0}=0x0
phy_chain_rx_polarity_flip_physical{143.0}=0x1
phy_chain_rx_polarity_flip_physical{144.0}=0x0
phy_chain_rx_polarity_flip_physical{145.0}=0x1
phy_chain_rx_polarity_flip_physical{146.0}=0x0
phy_chain_rx_polarity_flip_physical{147.0}=0x1
phy_chain_rx_polarity_flip_physical{148.0}=0x0
phy_chain_rx_polarity_flip_physical{149.0}=0x0
phy_chain_rx_polarity_flip_physical{15.0}=0x1
phy_chain_rx_polarity_flip_physical{150.0}=0x1
phy_chain_rx_polarity_flip_physical{151.0}=0x1
phy_chain_rx_polarity_flip_physical{152.0}=0x0
phy_chain_rx_polarity_flip_physical{153.0}=0x0
phy_chain_rx_polarity_flip_physical{154.0}=0x1
phy_chain_rx_polarity_flip_physical{155.0}=0x1
phy_chain_rx_polarity_flip_physical{156.0}=0x0
phy_chain_rx_polarity_flip_physical{157.0}=0x0
phy_chain_rx_polarity_flip_physical{158.0}=0x0
phy_chain_rx_polarity_flip_physical{159.0}=0x1
phy_chain_rx_polarity_flip_physical{16.0}=0x0
phy_chain_rx_polarity_flip_physical{160.0}=0x0
phy_chain_rx_polarity_flip_physical{161.0}=0x1
phy_chain_rx_polarity_flip_physical{162.0}=0x1
phy_chain_rx_polarity_flip_physical{163.0}=0x0
phy_chain_rx_polarity_flip_physical{164.0}=0x1
phy_chain_rx_polarity_flip_physical{165.0}=0x0
phy_chain_rx_polarity_flip_physical{166.0}=0x0
phy_chain_rx_polarity_flip_physical{167.0}=0x1
phy_chain_rx_polarity_flip_physical{168.0}=0x1
phy_chain_rx_polarity_flip_physical{169.0}=0x1
phy_chain_rx_polarity_flip_physical{17.0}=0x1
phy_chain_rx_polarity_flip_physical{170.0}=0x1
phy_chain_rx_polarity_flip_physical{171.0}=0x0
phy_chain_rx_polarity_flip_physical{172.0}=0x0
phy_chain_rx_polarity_flip_physical{173.0}=0x0
phy_chain_rx_polarity_flip_physical{174.0}=0x0
phy_chain_rx_polarity_flip_physical{175.0}=0x1
phy_chain_rx_polarity_flip_physical{176.0}=0x1
phy_chain_rx_polarity_flip_physical{177.0}=0x1
phy_chain_rx_polarity_flip_physical{178.0}=0x1
phy_chain_rx_polarity_flip_physical{179.0}=0x0
phy_chain_rx_polarity_flip_physical{18.0}=0x0
phy_chain_rx_polarity_flip_physical{180.0}=0x0
phy_chain_rx_polarity_flip_physical{181.0}=0x1
phy_chain_rx_polarity_flip_physical{182.0}=0x1
phy_chain_rx_polarity_flip_physical{183.0}=0x0
phy_chain_rx_polarity_flip_physical{184.0}=0x0
phy_chain_rx_polarity_flip_physical{185.0}=0x0
phy_chain_rx_polarity_flip_physical{186.0}=0x0
phy_chain_rx_polarity_flip_physical{187.0}=0x1
phy_chain_rx_polarity_flip_physical{188.0}=0x1
phy_chain_rx_polarity_flip_physical{189.0}=0x0
phy_chain_rx_polarity_flip_physical{19.0}=0x1
phy_chain_rx_polarity_flip_physical{190.0}=0x0
phy_chain_rx_polarity_flip_physical{191.0}=0x1
phy_chain_rx_polarity_flip_physical{192.0}=0x0
phy_chain_rx_polarity_flip_physical{193.0}=0x0
phy_chain_rx_polarity_flip_physical{194.0}=0x0
phy_chain_rx_polarity_flip_physical{195.0}=0x1
phy_chain_rx_polarity_flip_physical{196.0}=0x1
phy_chain_rx_polarity_flip_physical{197.0}=0x1
phy_chain_rx_polarity_flip_physical{198.0}=0x1
phy_chain_rx_polarity_flip_physical{199.0}=0x0
phy_chain_rx_polarity_flip_physical{2.0}=0x0
phy_chain_rx_polarity_flip_physical{20.0}=0x0
phy_chain_rx_polarity_flip_physical{200.0}=0x0
phy_chain_rx_polarity_flip_physical{201.0}=0x0
phy_chain_rx_polarity_flip_physical{202.0}=0x0
phy_chain_rx_polarity_flip_physical{203.0}=0x1
phy_chain_rx_polarity_flip_physical{204.0}=0x0
phy_chain_rx_polarity_flip_physical{205.0}=0x1
phy_chain_rx_polarity_flip_physical{206.0}=0x1
phy_chain_rx_polarity_flip_physical{207.0}=0x0
phy_chain_rx_polarity_flip_physical{208.0}=0x0
phy_chain_rx_polarity_flip_physical{209.0}=0x1
phy_chain_rx_polarity_flip_physical{21.0}=0x0
phy_chain_rx_polarity_flip_physical{210.0}=0x1
phy_chain_rx_polarity_flip_physical{211.0}=0x0
phy_chain_rx_polarity_flip_physical{212.0}=0x0
phy_chain_rx_polarity_flip_physical{213.0}=0x0
phy_chain_rx_polarity_flip_physical{214.0}=0x0
phy_chain_rx_polarity_flip_physical{215.0}=0x1
phy_chain_rx_polarity_flip_physical{216.0}=0x0
phy_chain_rx_polarity_flip_physical{217.0}=0x0
phy_chain_rx_polarity_flip_physical{218.0}=0x0
phy_chain_rx_polarity_flip_physical{219.0}=0x1
phy_chain_rx_polarity_flip_physical{22.0}=0x0
phy_chain_rx_polarity_flip_physical{220.0}=0x1
phy_chain_rx_polarity_flip_physical{221.0}=0x0
phy_chain_rx_polarity_flip_physical{222.0}=0x0
phy_chain_rx_polarity_flip_physical{223.0}=0x1
phy_chain_rx_polarity_flip_physical{224.0}=0x1
phy_chain_rx_polarity_flip_physical{225.0}=0x1
phy_chain_rx_polarity_flip_physical{226.0}=0x0
phy_chain_rx_polarity_flip_physical{227.0}=0x0
phy_chain_rx_polarity_flip_physical{228.0}=0x1
phy_chain_rx_polarity_flip_physical{229.0}=0x0
phy_chain_rx_polarity_flip_physical{23.0}=0x1
phy_chain_rx_polarity_flip_physical{230.0}=0x0
phy_chain_rx_polarity_flip_physical{231.0}=0x1
phy_chain_rx_polarity_flip_physical{232.0}=0x1
phy_chain_rx_polarity_flip_physical{233.0}=0x1
phy_chain_rx_polarity_flip_physical{234.0}=0x0
phy_chain_rx_polarity_flip_physical{235.0}=0x0
phy_chain_rx_polarity_flip_physical{236.0}=0x0
phy_chain_rx_polarity_flip_physical{237.0}=0x1
phy_chain_rx_polarity_flip_physical{238.0}=0x0
phy_chain_rx_polarity_flip_physical{239.0}=0x1
phy_chain_rx_polarity_flip_physical{24.0}=0x0
phy_chain_rx_polarity_flip_physical{240.0}=0x0
phy_chain_rx_polarity_flip_physical{241.0}=0x1
phy_chain_rx_polarity_flip_physical{242.0}=0x0
phy_chain_rx_polarity_flip_physical{243.0}=0x1
phy_chain_rx_polarity_flip_physical{244.0}=0x0
phy_chain_rx_polarity_flip_physical{245.0}=0x1
phy_chain_rx_polarity_flip_physical{246.0}=0x1
phy_chain_rx_polarity_flip_physical{247.0}=0x1
phy_chain_rx_polarity_flip_physical{248.0}=0x0
phy_chain_rx_polarity_flip_physical{249.0}=0x0
phy_chain_rx_polarity_flip_physical{25.0}=0x1
phy_chain_rx_polarity_flip_physical{250.0}=0x1
phy_chain_rx_polarity_flip_physical{251.0}=0x0
phy_chain_rx_polarity_flip_physical{252.0}=0x1
phy_chain_rx_polarity_flip_physical{253.0}=0x1
phy_chain_rx_polarity_flip_physical{254.0}=0x0
phy_chain_rx_polarity_flip_physical{255.0}=0x1
phy_chain_rx_polarity_flip_physical{256.0}=0x0
phy_chain_rx_polarity_flip_physical{257.0}=0x0
phy_chain_rx_polarity_flip_physical{259.0}=0x0
phy_chain_rx_polarity_flip_physical{26.0}=0x0
phy_chain_rx_polarity_flip_physical{27.0}=0x1
phy_chain_rx_polarity_flip_physical{28.0}=0x0
phy_chain_rx_polarity_flip_physical{29.0}=0x0
phy_chain_rx_polarity_flip_physical{3.0}=0x1
phy_chain_rx_polarity_flip_physical{30.0}=0x0
phy_chain_rx_polarity_flip_physical{31.0}=0x0
phy_chain_rx_polarity_flip_physical{32.0}=0x1
phy_chain_rx_polarity_flip_physical{33.0}=0x0
phy_chain_rx_polarity_flip_physical{34.0}=0x0
phy_chain_rx_polarity_flip_physical{35.0}=0x1
phy_chain_rx_polarity_flip_physical{36.0}=0x1
phy_chain_rx_polarity_flip_physical{37.0}=0x1
phy_chain_rx_polarity_flip_physical{38.0}=0x1
phy_chain_rx_polarity_flip_physical{39.0}=0x0
phy_chain_rx_polarity_flip_physical{4.0}=0x0
phy_chain_rx_polarity_flip_physical{40.0}=0x0
phy_chain_rx_polarity_flip_physical{41.0}=0x0
phy_chain_rx_polarity_flip_physical{42.0}=0x1
phy_chain_rx_polarity_flip_physical{43.0}=0x1
phy_chain_rx_polarity_flip_physical{44.0}=0x1
phy_chain_rx_polarity_flip_physical{45.0}=0x1
phy_chain_rx_polarity_flip_physical{46.0}=0x0
phy_chain_rx_polarity_flip_physical{47.0}=0x0
phy_chain_rx_polarity_flip_physical{48.0}=0x1
phy_chain_rx_polarity_flip_physical{49.0}=0x1
phy_chain_rx_polarity_flip_physical{5.0}=0x1
phy_chain_rx_polarity_flip_physical{50.0}=0x1
phy_chain_rx_polarity_flip_physical{51.0}=0x0
phy_chain_rx_polarity_flip_physical{52.0}=0x0
phy_chain_rx_polarity_flip_physical{53.0}=0x0
phy_chain_rx_polarity_flip_physical{54.0}=0x0
phy_chain_rx_polarity_flip_physical{55.0}=0x1
phy_chain_rx_polarity_flip_physical{56.0}=0x0
phy_chain_rx_polarity_flip_physical{57.0}=0x0
phy_chain_rx_polarity_flip_physical{58.0}=0x0
phy_chain_rx_polarity_flip_physical{59.0}=0x1
phy_chain_rx_polarity_flip_physical{6.0}=0x0
phy_chain_rx_polarity_flip_physical{60.0}=0x1
phy_chain_rx_polarity_flip_physical{61.0}=0x0
phy_chain_rx_polarity_flip_physical{62.0}=0x0
phy_chain_rx_polarity_flip_physical{63.0}=0x1
phy_chain_rx_polarity_flip_physical{64.0}=0x1
phy_chain_rx_polarity_flip_physical{65.0}=0x1
phy_chain_rx_polarity_flip_physical{66.0}=0x1
phy_chain_rx_polarity_flip_physical{67.0}=0x0
phy_chain_rx_polarity_flip_physical{68.0}=0x1
phy_chain_rx_polarity_flip_physical{69.0}=0x0
phy_chain_rx_polarity_flip_physical{7.0}=0x0
phy_chain_rx_polarity_flip_physical{70.0}=0x0
phy_chain_rx_polarity_flip_physical{71.0}=0x1
phy_chain_rx_polarity_flip_physical{72.0}=0x1
phy_chain_rx_polarity_flip_physical{73.0}=0x1
phy_chain_rx_polarity_flip_physical{74.0}=0x1
phy_chain_rx_polarity_flip_physical{75.0}=0x0
phy_chain_rx_polarity_flip_physical{76.0}=0x0
phy_chain_rx_polarity_flip_physical{77.0}=0x0
phy_chain_rx_polarity_flip_physical{78.0}=0x0
phy_chain_rx_polarity_flip_physical{79.0}=0x1
phy_chain_rx_polarity_flip_physical{8.0}=0x1
phy_chain_rx_polarity_flip_physical{80.0}=0x1
phy_chain_rx_polarity_flip_physical{81.0}=0x1
phy_chain_rx_polarity_flip_physical{82.0}=0x1
phy_chain_rx_polarity_flip_physical{83.0}=0x0
phy_chain_rx_polarity_flip_physical{84.0}=0x0
phy_chain_rx_polarity_flip_physical{85.0}=0x1
phy_chain_rx_polarity_flip_physical{86.0}=0x1
phy_chain_rx_polarity_flip_physical{87.0}=0x0
phy_chain_rx_polarity_flip_physical{88.0}=0x0
phy_chain_rx_polarity_flip_physical{89.0}=0x0
phy_chain_rx_polarity_flip_physical{9.0}=0x1
phy_chain_rx_polarity_flip_physical{90.0}=0x0
phy_chain_rx_polarity_flip_physical{91.0}=0x1
phy_chain_rx_polarity_flip_physical{92.0}=0x1
phy_chain_rx_polarity_flip_physical{93.0}=0x0
phy_chain_rx_polarity_flip_physical{94.0}=0x0
phy_chain_rx_polarity_flip_physical{95.0}=0x1
phy_chain_rx_polarity_flip_physical{96.0}=0x0
phy_chain_rx_polarity_flip_physical{97.0}=0x1
phy_chain_rx_polarity_flip_physical{98.0}=0x1
phy_chain_rx_polarity_flip_physical{99.0}=0x0
phy_chain_tx_lane_map_physical{1.0}=0x2031
phy_chain_tx_lane_map_physical{101.0}=0x1023
phy_chain_tx_lane_map_physical{105.0}=0x1302
phy_chain_tx_lane_map_physical{109.0}=0x0321
phy_chain_tx_lane_map_physical{113.0}=0x2301
phy_chain_tx_lane_map_physical{117.0}=0x3120
phy_chain_tx_lane_map_physical{121.0}=0x3102
phy_chain_tx_lane_map_physical{125.0}=0x3210
phy_chain_tx_lane_map_physical{129.0}=0x1023
phy_chain_tx_lane_map_physical{13.0}=0x3021
phy_chain_tx_lane_map_physical{133.0}=0x3210
phy_chain_tx_lane_map_physical{137.0}=0x2031
phy_chain_tx_lane_map_physical{141.0}=0x1302
phy_chain_tx_lane_map_physical{145.0}=0x3210
phy_chain_tx_lane_map_physical{149.0}=0x0213
phy_chain_tx_lane_map_physical{153.0}=0x3210
phy_chain_tx_lane_map_physical{157.0}=0x1320
phy_chain_tx_lane_map_physical{161.0}=0x3210
phy_chain_tx_lane_map_physical{165.0}=0x0231
phy_chain_tx_lane_map_physical{169.0}=0x3120
phy_chain_tx_lane_map_physical{17.0}=0x1032
phy_chain_tx_lane_map_physical{173.0}=0x0312
phy_chain_tx_lane_map_physical{177.0}=0x0231
phy_chain_tx_lane_map_physical{181.0}=0x3210
phy_chain_tx_lane_map_physical{185.0}=0x3210
phy_chain_tx_lane_map_physical{189.0}=0x1320
phy_chain_tx_lane_map_physical{193.0}=0x0321
phy_chain_tx_lane_map_physical{197.0}=0x3120
phy_chain_tx_lane_map_physical{201.0}=0x3120
phy_chain_tx_lane_map_physical{205.0}=0x0123
phy_chain_tx_lane_map_physical{209.0}=0x3120
phy_chain_tx_lane_map_physical{21.0}=0x0213
phy_chain_tx_lane_map_physical{213.0}=0x3021
phy_chain_tx_lane_map_physical{217.0}=0x0312
phy_chain_tx_lane_map_physical{221.0}=0x2301
phy_chain_tx_lane_map_physical{225.0}=0x0123
phy_chain_tx_lane_map_physical{229.0}=0x2031
phy_chain_tx_lane_map_physical{233.0}=0x0231
phy_chain_tx_lane_map_physical{237.0}=0x0213
phy_chain_tx_lane_map_physical{241.0}=0x1320
phy_chain_tx_lane_map_physical{245.0}=0x2031
phy_chain_tx_lane_map_physical{249.0}=0x3120
phy_chain_tx_lane_map_physical{25.0}=0x0231
phy_chain_tx_lane_map_physical{253.0}=0x0321
phy_chain_tx_lane_map_physical{257.0}=0x3210
phy_chain_tx_lane_map_physical{29.0}=0x1230
phy_chain_tx_lane_map_physical{33.0}=0x1032
phy_chain_tx_lane_map_physical{37.0}=0x0123
phy_chain_tx_lane_map_physical{41.0}=0x0213
phy_chain_tx_lane_map_physical{45.0}=0x0132
phy_chain_tx_lane_map_physical{49.0}=0x2031
phy_chain_tx_lane_map_physical{5.0}=0x2301
phy_chain_tx_lane_map_physical{53.0}=0x2301
phy_chain_tx_lane_map_physical{57.0}=0x2031
phy_chain_tx_lane_map_physical{61.0}=0x2031
phy_chain_tx_lane_map_physical{65.0}=0x1230
phy_chain_tx_lane_map_physical{69.0}=0x2013
phy_chain_tx_lane_map_physical{73.0}=0x0213
phy_chain_tx_lane_map_physical{77.0}=0x2310
phy_chain_tx_lane_map_physical{81.0}=0x0321
phy_chain_tx_lane_map_physical{85.0}=0x2013
phy_chain_tx_lane_map_physical{89.0}=0x0213
phy_chain_tx_lane_map_physical{9.0}=0x3012
phy_chain_tx_lane_map_physical{93.0}=0x3102
phy_chain_tx_lane_map_physical{97.0}=0x3210
phy_chain_tx_polarity_flip_physical{1.0}=0x0
phy_chain_tx_polarity_flip_physical{10.0}=0x1
phy_chain_tx_polarity_flip_physical{100.0}=0x0
phy_chain_tx_polarity_flip_physical{101.0}=0x0
phy_chain_tx_polarity_flip_physical{102.0}=0x1
phy_chain_tx_polarity_flip_physical{103.0}=0x0
phy_chain_tx_polarity_flip_physical{104.0}=0x0
phy_chain_tx_polarity_flip_physical{105.0}=0x0
phy_chain_tx_polarity_flip_physical{106.0}=0x1
phy_chain_tx_polarity_flip_physical{107.0}=0x1
phy_chain_tx_polarity_flip_physical{108.0}=0x1
phy_chain_tx_polarity_flip_physical{109.0}=0x0
phy_chain_tx_polarity_flip_physical{11.0}=0x1
phy_chain_tx_polarity_flip_physical{110.0}=0x0
phy_chain_tx_polarity_flip_physical{111.0}=0x0
phy_chain_tx_polarity_flip_physical{112.0}=0x1
phy_chain_tx_polarity_flip_physical{113.0}=0x1
phy_chain_tx_polarity_flip_physical{114.0}=0x1
phy_chain_tx_polarity_flip_physical{115.0}=0x1
phy_chain_tx_polarity_flip_physical{116.0}=0x0
phy_chain_tx_polarity_flip_physical{117.0}=0x1
phy_chain_tx_polarity_flip_physical{118.0}=0x0
phy_chain_tx_polarity_flip_physical{119.0}=0x0
phy_chain_tx_polarity_flip_physical{12.0}=0x0
phy_chain_tx_polarity_flip_physical{120.0}=0x0
phy_chain_tx_polarity_flip_physical{121.0}=0x0
phy_chain_tx_polarity_flip_physical{122.0}=0x0
phy_chain_tx_polarity_flip_physical{123.0}=0x0
phy_chain_tx_polarity_flip_physical{124.0}=0x1
phy_chain_tx_polarity_flip_physical{125.0}=0x0
phy_chain_tx_polarity_flip_physical{126.0}=0x1
phy_chain_tx_polarity_flip_physical{127.0}=0x1
phy_chain_tx_polarity_flip_physical{128.0}=0x1
phy_chain_tx_polarity_flip_physical{129.0}=0x1
phy_chain_tx_polarity_flip_physical{13.0}=0x0
phy_chain_tx_polarity_flip_physical{130.0}=0x0
phy_chain_tx_polarity_flip_physical{131.0}=0x1
phy_chain_tx_polarity_flip_physical{132.0}=0x0
phy_chain_tx_polarity_flip_physical{133.0}=0x1
phy_chain_tx_polarity_flip_physical{134.0}=0x1
phy_chain_tx_polarity_flip_physical{135.0}=0x1
phy_chain_tx_polarity_flip_physical{136.0}=0x1
phy_chain_tx_polarity_flip_physical{137.0}=0x1
phy_chain_tx_polarity_flip_physical{138.0}=0x1
phy_chain_tx_polarity_flip_physical{139.0}=0x1
phy_chain_tx_polarity_flip_physical{14.0}=0x1
phy_chain_tx_polarity_flip_physical{140.0}=0x1
phy_chain_tx_polarity_flip_physical{141.0}=0x0
phy_chain_tx_polarity_flip_physical{142.0}=0x1
phy_chain_tx_polarity_flip_physical{143.0}=0x1
phy_chain_tx_polarity_flip_physical{144.0}=0x1
phy_chain_tx_polarity_flip_physical{145.0}=0x1
phy_chain_tx_polarity_flip_physical{146.0}=0x1
phy_chain_tx_polarity_flip_physical{147.0}=0x1
phy_chain_tx_polarity_flip_physical{148.0}=0x0
phy_chain_tx_polarity_flip_physical{149.0}=0x1
phy_chain_tx_polarity_flip_physical{15.0}=0x0
phy_chain_tx_polarity_flip_physical{150.0}=0x0
phy_chain_tx_polarity_flip_physical{151.0}=0x0
phy_chain_tx_polarity_flip_physical{152.0}=0x0
phy_chain_tx_polarity_flip_physical{153.0}=0x1
phy_chain_tx_polarity_flip_physical{154.0}=0x0
phy_chain_tx_polarity_flip_physical{155.0}=0x0
phy_chain_tx_polarity_flip_physical{156.0}=0x0
phy_chain_tx_polarity_flip_physical{157.0}=0x0
phy_chain_tx_polarity_flip_physical{158.0}=0x0
phy_chain_tx_polarity_flip_physical{159.0}=0x0
phy_chain_tx_polarity_flip_physical{16.0}=0x0
phy_chain_tx_polarity_flip_physical{160.0}=0x0
phy_chain_tx_polarity_flip_physical{161.0}=0x0
phy_chain_tx_polarity_flip_physical{162.0}=0x1
phy_chain_tx_polarity_flip_physical{163.0}=0x1
phy_chain_tx_polarity_flip_physical{164.0}=0x0
phy_chain_tx_polarity_flip_physical{165.0}=0x1
phy_chain_tx_polarity_flip_physical{166.0}=0x1
phy_chain_tx_polarity_flip_physical{167.0}=0x1
phy_chain_tx_polarity_flip_physical{168.0}=0x0
phy_chain_tx_polarity_flip_physical{169.0}=0x0
phy_chain_tx_polarity_flip_physical{17.0}=0x0
phy_chain_tx_polarity_flip_physical{170.0}=0x1
phy_chain_tx_polarity_flip_physical{171.0}=0x1
phy_chain_tx_polarity_flip_physical{172.0}=0x1
phy_chain_tx_polarity_flip_physical{173.0}=0x0
phy_chain_tx_polarity_flip_physical{174.0}=0x0
phy_chain_tx_polarity_flip_physical{175.0}=0x1
phy_chain_tx_polarity_flip_physical{176.0}=0x0
phy_chain_tx_polarity_flip_physical{177.0}=0x1
phy_chain_tx_polarity_flip_physical{178.0}=0x0
phy_chain_tx_polarity_flip_physical{179.0}=0x0
phy_chain_tx_polarity_flip_physical{18.0}=0x1
phy_chain_tx_polarity_flip_physical{180.0}=0x0
phy_chain_tx_polarity_flip_physical{181.0}=0x0
phy_chain_tx_polarity_flip_physical{182.0}=0x0
phy_chain_tx_polarity_flip_physical{183.0}=0x0
phy_chain_tx_polarity_flip_physical{184.0}=0x1
phy_chain_tx_polarity_flip_physical{185.0}=0x0
phy_chain_tx_polarity_flip_physical{186.0}=0x1
phy_chain_tx_polarity_flip_physical{187.0}=0x1
phy_chain_tx_polarity_flip_physical{188.0}=0x1
phy_chain_tx_polarity_flip_physical{189.0}=0x0
phy_chain_tx_polarity_flip_physical{19.0}=0x1
phy_chain_tx_polarity_flip_physical{190.0}=0x0
phy_chain_tx_polarity_flip_physical{191.0}=0x0
phy_chain_tx_polarity_flip_physical{192.0}=0x0
phy_chain_tx_polarity_flip_physical{193.0}=0x1
phy_chain_tx_polarity_flip_physical{194.0}=0x1
phy_chain_tx_polarity_flip_physical{195.0}=0x1
phy_chain_tx_polarity_flip_physical{196.0}=0x0
phy_chain_tx_polarity_flip_physical{197.0}=0x0
phy_chain_tx_polarity_flip_physical{198.0}=0x1
phy_chain_tx_polarity_flip_physical{199.0}=0x1
phy_chain_tx_polarity_flip_physical{2.0}=0x1
phy_chain_tx_polarity_flip_physical{20.0}=0x1
phy_chain_tx_polarity_flip_physical{200.0}=0x1
phy_chain_tx_polarity_flip_physical{201.0}=0x1
phy_chain_tx_polarity_flip_physical{202.0}=0x1
phy_chain_tx_polarity_flip_physical{203.0}=0x1
phy_chain_tx_polarity_flip_physical{204.0}=0x1
phy_chain_tx_polarity_flip_physical{205.0}=0x0
phy_chain_tx_polarity_flip_physical{206.0}=0x1
phy_chain_tx_polarity_flip_physical{207.0}=0x1
phy_chain_tx_polarity_flip_physical{208.0}=0x1
phy_chain_tx_polarity_flip_physical{209.0}=0x1
phy_chain_tx_polarity_flip_physical{21.0}=0x0
phy_chain_tx_polarity_flip_physical{210.0}=0x1
phy_chain_tx_polarity_flip_physical{211.0}=0x1
phy_chain_tx_polarity_flip_physical{212.0}=0x0
phy_chain_tx_polarity_flip_physical{213.0}=0x0
phy_chain_tx_polarity_flip_physical{214.0}=0x1
phy_chain_tx_polarity_flip_physical{215.0}=0x0
phy_chain_tx_polarity_flip_physical{216.0}=0x1
phy_chain_tx_polarity_flip_physical{217.0}=0x1
phy_chain_tx_polarity_flip_physical{218.0}=0x1
phy_chain_tx_polarity_flip_physical{219.0}=0x0
phy_chain_tx_polarity_flip_physical{22.0}=0x0
phy_chain_tx_polarity_flip_physical{220.0}=0x1
phy_chain_tx_polarity_flip_physical{221.0}=0x0
phy_chain_tx_polarity_flip_physical{222.0}=0x0
phy_chain_tx_polarity_flip_physical{223.0}=0x0
phy_chain_tx_polarity_flip_physical{224.0}=0x1
phy_chain_tx_polarity_flip_physical{225.0}=0x1
phy_chain_tx_polarity_flip_physical{226.0}=0x1
phy_chain_tx_polarity_flip_physical{227.0}=0x1
phy_chain_tx_polarity_flip_physical{228.0}=0x0
phy_chain_tx_polarity_flip_physical{229.0}=0x0
phy_chain_tx_polarity_flip_physical{23.0}=0x0
phy_chain_tx_polarity_flip_physical{230.0}=0x1
phy_chain_tx_polarity_flip_physical{231.0}=0x1
phy_chain_tx_polarity_flip_physical{232.0}=0x1
phy_chain_tx_polarity_flip_physical{233.0}=0x0
phy_chain_tx_polarity_flip_physical{234.0}=0x0
phy_chain_tx_polarity_flip_physical{235.0}=0x0
phy_chain_tx_polarity_flip_physical{236.0}=0x0
phy_chain_tx_polarity_flip_physical{237.0}=0x1
phy_chain_tx_polarity_flip_physical{238.0}=0x1
phy_chain_tx_polarity_flip_physical{239.0}=0x1
phy_chain_tx_polarity_flip_physical{24.0}=0x0
phy_chain_tx_polarity_flip_physical{240.0}=0x0
phy_chain_tx_polarity_flip_physical{241.0}=0x1
phy_chain_tx_polarity_flip_physical{242.0}=0x1
phy_chain_tx_polarity_flip_physical{243.0}=0x1
phy_chain_tx_polarity_flip_physical{244.0}=0x0
phy_chain_tx_polarity_flip_physical{245.0}=0x1
phy_chain_tx_polarity_flip_physical{246.0}=0x1
phy_chain_tx_polarity_flip_physical{247.0}=0x1
phy_chain_tx_polarity_flip_physical{248.0}=0x1
phy_chain_tx_polarity_flip_physical{249.0}=0x1
phy_chain_tx_polarity_flip_physical{25.0}=0x1
phy_chain_tx_polarity_flip_physical{250.0}=0x0
phy_chain_tx_polarity_flip_physical{251.0}=0x0
phy_chain_tx_polarity_flip_physical{252.0}=0x0
phy_chain_tx_polarity_flip_physical{253.0}=0x1
phy_chain_tx_polarity_flip_physical{254.0}=0x1
phy_chain_tx_polarity_flip_physical{255.0}=0x1
phy_chain_tx_polarity_flip_physical{256.0}=0x0
phy_chain_tx_polarity_flip_physical{257.0}=0x0
phy_chain_tx_polarity_flip_physical{259.0}=0x0
phy_chain_tx_polarity_flip_physical{26.0}=0x0
phy_chain_tx_polarity_flip_physical{27.0}=0x0
phy_chain_tx_polarity_flip_physical{28.0}=0x0
phy_chain_tx_polarity_flip_physical{29.0}=0x1
phy_chain_tx_polarity_flip_physical{3.0}=0x1
phy_chain_tx_polarity_flip_physical{30.0}=0x1
phy_chain_tx_polarity_flip_physical{31.0}=0x1
phy_chain_tx_polarity_flip_physical{32.0}=0x0
phy_chain_tx_polarity_flip_physical{33.0}=0x0
phy_chain_tx_polarity_flip_physical{34.0}=0x0
phy_chain_tx_polarity_flip_physical{35.0}=0x0
phy_chain_tx_polarity_flip_physical{36.0}=0x1
phy_chain_tx_polarity_flip_physical{37.0}=0x1
phy_chain_tx_polarity_flip_physical{38.0}=0x1
phy_chain_tx_polarity_flip_physical{39.0}=0x1
phy_chain_tx_polarity_flip_physical{4.0}=0x1
phy_chain_tx_polarity_flip_physical{40.0}=0x0
phy_chain_tx_polarity_flip_physical{41.0}=0x0
phy_chain_tx_polarity_flip_physical{42.0}=0x0
phy_chain_tx_polarity_flip_physical{43.0}=0x0
phy_chain_tx_polarity_flip_physical{44.0}=0x0
phy_chain_tx_polarity_flip_physical{45.0}=0x1
phy_chain_tx_polarity_flip_physical{46.0}=0x0
phy_chain_tx_polarity_flip_physical{47.0}=0x1
phy_chain_tx_polarity_flip_physical{48.0}=0x1
phy_chain_tx_polarity_flip_physical{49.0}=0x0
phy_chain_tx_polarity_flip_physical{5.0}=0x1
phy_chain_tx_polarity_flip_physical{50.0}=0x0
phy_chain_tx_polarity_flip_physical{51.0}=0x0
phy_chain_tx_polarity_flip_physical{52.0}=0x1
phy_chain_tx_polarity_flip_physical{53.0}=0x0
phy_chain_tx_polarity_flip_physical{54.0}=0x1
phy_chain_tx_polarity_flip_physical{55.0}=0x1
phy_chain_tx_polarity_flip_physical{56.0}=0x0
phy_chain_tx_polarity_flip_physical{57.0}=0x0
phy_chain_tx_polarity_flip_physical{58.0}=0x1
phy_chain_tx_polarity_flip_physical{59.0}=0x1
phy_chain_tx_polarity_flip_physical{6.0}=0x1
phy_chain_tx_polarity_flip_physical{60.0}=0x1
phy_chain_tx_polarity_flip_physical{61.0}=0x0
phy_chain_tx_polarity_flip_physical{62.0}=0x1
phy_chain_tx_polarity_flip_physical{63.0}=0x1
phy_chain_tx_polarity_flip_physical{64.0}=0x1
phy_chain_tx_polarity_flip_physical{65.0}=0x0
phy_chain_tx_polarity_flip_physical{66.0}=0x1
phy_chain_tx_polarity_flip_physical{67.0}=0x1
phy_chain_tx_polarity_flip_physical{68.0}=0x0
phy_chain_tx_polarity_flip_physical{69.0}=0x1
phy_chain_tx_polarity_flip_physical{7.0}=0x1
phy_chain_tx_polarity_flip_physical{70.0}=0x1
phy_chain_tx_polarity_flip_physical{71.0}=0x1
phy_chain_tx_polarity_flip_physical{72.0}=0x0
phy_chain_tx_polarity_flip_physical{73.0}=0x1
phy_chain_tx_polarity_flip_physical{74.0}=0x0
phy_chain_tx_polarity_flip_physical{75.0}=0x0
phy_chain_tx_polarity_flip_physical{76.0}=0x0
phy_chain_tx_polarity_flip_physical{77.0}=0x0
phy_chain_tx_polarity_flip_physical{78.0}=0x0
phy_chain_tx_polarity_flip_physical{79.0}=0x1
phy_chain_tx_polarity_flip_physical{8.0}=0x0
phy_chain_tx_polarity_flip_physical{80.0}=0x0
phy_chain_tx_polarity_flip_physical{81.0}=0x1
phy_chain_tx_polarity_flip_physical{82.0}=0x1
phy_chain_tx_polarity_flip_physical{83.0}=0x1
phy_chain_tx_polarity_flip_physical{84.0}=0x0
phy_chain_tx_polarity_flip_physical{85.0}=0x1
phy_chain_tx_polarity_flip_physical{86.0}=0x0
phy_chain_tx_polarity_flip_physical{87.0}=0x0
phy_chain_tx_polarity_flip_physical{88.0}=0x0
phy_chain_tx_polarity_flip_physical{89.0}=0x1
phy_chain_tx_polarity_flip_physical{9.0}=0x0
phy_chain_tx_polarity_flip_physical{90.0}=0x1
phy_chain_tx_polarity_flip_physical{91.0}=0x1
phy_chain_tx_polarity_flip_physical{92.0}=0x0
phy_chain_tx_polarity_flip_physical{93.0}=0x0
phy_chain_tx_polarity_flip_physical{94.0}=0x0
phy_chain_tx_polarity_flip_physical{95.0}=0x0
phy_chain_tx_polarity_flip_physical{96.0}=0x0
phy_chain_tx_polarity_flip_physical{97.0}=0x0
phy_chain_tx_polarity_flip_physical{98.0}=0x1
phy_chain_tx_polarity_flip_physical{99.0}=0x1

port_init_cl72_hg=1







robust_hash_disable_egress_vlan=1
robust_hash_disable_mpls=1
robust_hash_disable_vlan=1
stable_size=0x5500000
stable_size=0x5500000
tdma_timeout_usec=15000000
tslam_timeout_usec=15000000
dport_map_direct=1
portmap_1=5:50
portmap_2=7:50
portmap_3=13:50
portmap_4=15:50
portmap_5=25:50
portmap_6=27:50
portmap_7=21:50
portmap_8=23:50
portmap_9=37:50
portmap_10=39:50
portmap_11=45:50
portmap_12=47:50
portmap_13=57:100
portmap_14=53:100
portmap_15=9:50
portmap_16=11:50
portmap_17=1:50
portmap_18=3:50
portmap_19=17:50
portmap_20=19:50
portmap_21=29:50
portmap_22=31:50
portmap_23=41:50
portmap_24=43:50
portmap_25=33:50
portmap_26=35:50
portmap_27=49:50
portmap_28=51:50
portmap_29=61:50
portmap_30=63:50
portmap_34=77:100
portmap_35=65:100
portmap_38=85:50
portmap_39=87:50
portmap_40=89:50
portmap_41=91:50
portmap_42=109:50
portmap_43=111:50
portmap_44=97:50
portmap_45=99:50
portmap_46=117:100
portmap_47=121:100
portmap_48=69:50
portmap_49=71:50
portmap_50=73:50
portmap_51=75:50
portmap_52=93:50
portmap_53=95:50
portmap_54=81:50
portmap_55=83:50
portmap_56=101:50
portmap_57=103:50
portmap_58=105:50
portmap_59=107:50
portmap_60=125:50
portmap_61=127:50
portmap_62=113:50
portmap_63=115:50
portmap_66=257:10
portmap_68=141:100
portmap_69=133:100
portmap_70=149:50
portmap_71=151:50
portmap_72=153:50
portmap_73=155:50
portmap_74=173:50
portmap_75=175:50
portmap_76=161:50
portmap_77=163:50
portmap_78=181:50
portmap_79=183:50
portmap_80=185:50
portmap_81=187:50
portmap_82=129:50
portmap_83=131:50
portmap_84=137:50
portmap_85=139:50
portmap_86=157:50
portmap_87=159:50
portmap_88=145:50
portmap_89=147:50
portmap_90=165:50
portmap_91=167:50
portmap_92=169:50
portmap_93=171:50
portmap_94=189:50
portmap_95=191:50
portmap_96=177:50
portmap_97=179:50
portmap_100=259:10
portmap_102=197:100
portmap_103=205:100
portmap_104=217:50
portmap_105=219:50
portmap_106=213:50
portmap_107=215:50
portmap_108=229:50
portmap_109=231:50
portmap_110=237:50
portmap_111=239:50
portmap_112=249:50
portmap_113=251:50
portmap_114=245:50
portmap_115=247:50
portmap_116=201:50
portmap_117=203:50
portmap_118=193:50
portmap_119=195:50
portmap_120=209:50
portmap_121=211:50
portmap_122=221:50
portmap_123=223:50
portmap_124=233:50
portmap_125=235:50
portmap_126=225:50
portmap_127=227:50
portmap_128=241:50
portmap_129=243:50
portmap_130=253:50
portmap_131=255:50

# tuning parameters
serdes_preemphasis_1=0x580c
serdes_preemphasis_2=0x580c
serdes_preemphasis_3=0x580c
serdes_preemphasis_4=0x580c
serdes_preemphasis_5=0x580c
serdes_preemphasis_6=0x580c
serdes_preemphasis_7=0x580c
serdes_preemphasis_8=0x580c
serdes_preemphasis_9=0x580c
serdes_preemphasis_10=0x580c
serdes_preemphasis_11=0x580c
serdes_preemphasis_12=0x580c
serdes_preemphasis_13=0x83404
serdes_preemphasis_14=0x83404
serdes_preemphasis_15=0x580c
serdes_preemphasis_16=0x580c
serdes_preemphasis_17=0x580c
serdes_preemphasis_18=0x580c
serdes_preemphasis_19=0x580c
serdes_preemphasis_20=0x580c
serdes_preemphasis_21=0x580c
serdes_preemphasis_22=0x580c
serdes_preemphasis_23=0x580c
serdes_preemphasis_24=0x580c
serdes_preemphasis_25=0x580c
serdes_preemphasis_26=0x580c
serdes_preemphasis_27=0x580c
serdes_preemphasis_28=0x580c
serdes_preemphasis_29=0x580c
serdes_preemphasis_30=0x580c
serdes_preemphasis_34=0xf3d05
serdes_preemphasis_35=0xd3804
serdes_preemphasis_38=0x580c
serdes_preemphasis_39=0x580c
serdes_preemphasis_40=0x580c
serdes_preemphasis_41=0x580c
serdes_preemphasis_42=0x580c
serdes_preemphasis_43=0x580c
serdes_preemphasis_44=0x580c
serdes_preemphasis_45=0x580c
serdes_preemphasis_46=0xb3604
serdes_preemphasis_47=0x72b03
serdes_preemphasis_48=0x580c
serdes_preemphasis_49=0x580c
serdes_preemphasis_50=0x580c
serdes_preemphasis_51=0x580c
serdes_preemphasis_52=0x580c
serdes_preemphasis_53=0x580c
serdes_preemphasis_54=0x580c
serdes_preemphasis_55=0x580c
serdes_preemphasis_56=0x580c
serdes_preemphasis_57=0x580c
serdes_preemphasis_58=0x580c
serdes_preemphasis_59=0x580c
serdes_preemphasis_60=0x580c
serdes_preemphasis_61=0x580c
serdes_preemphasis_62=0x580c
serdes_preemphasis_63=0x580c
serdes_preemphasis_66=0x43004
serdes_preemphasis_68=0xf4006
serdes_preemphasis_69=0xf4006
serdes_preemphasis_70=0x580c
serdes_preemphasis_71=0x580c
serdes_preemphasis_72=0x580c
serdes_preemphasis_73=0x580c
serdes_preemphasis_74=0x580c
serdes_preemphasis_75=0x580c
serdes_preemphasis_76=0x580c
serdes_preemphasis_77=0x580c
serdes_preemphasis_78=0x580c
serdes_preemphasis_79=0x580c
serdes_preemphasis_80=0x580c
serdes_preemphasis_81=0x580c
serdes_preemphasis_82=0x580c
serdes_preemphasis_83=0x580c
serdes_preemphasis_84=0x580c
serdes_preemphasis_85=0x580c
serdes_preemphasis_86=0x580c
serdes_preemphasis_87=0x580c
serdes_preemphasis_88=0x580c
serdes_preemphasis_89=0x580c
serdes_preemphasis_90=0x580c
serdes_preemphasis_91=0x580c
serdes_preemphasis_92=0x580c
serdes_preemphasis_93=0x580c
serdes_preemphasis_94=0x580c
serdes_preemphasis_95=0x580c
serdes_preemphasis_96=0x580c
serdes_preemphasis_97=0x580c
serdes_preemphasis_100=0x43004
serdes_preemphasis_102=0xf3c05
serdes_preemphasis_103=0xf3c05
serdes_preemphasis_104=0x580c
serdes_preemphasis_105=0x580c
serdes_preemphasis_106=0x580c
serdes_preemphasis_107=0x580c
serdes_preemphasis_108=0x580c
serdes_preemphasis_109=0x580c
serdes_preemphasis_110=0x580c
serdes_preemphasis_111=0x580c
serdes_preemphasis_112=0x580c
serdes_preemphasis_113=0x580c
serdes_preemphasis_114=0x580c
serdes_preemphasis_115=0x580c
serdes_preemphasis_116=0x580c
serdes_preemphasis_117=0x580c
serdes_preemphasis_118=0x580c
serdes_preemphasis_119=0x580c
serdes_preemphasis_120=0x580c
serdes_preemphasis_121=0x580c
serdes_preemphasis_122=0x580c
serdes_preemphasis_123=0x580c
serdes_preemphasis_124=0x580c
serdes_preemphasis_125=0x580c
serdes_preemphasis_126=0x580c
serdes_preemphasis_127=0x580c
serdes_preemphasis_128=0x580c
serdes_preemphasis_129=0x580c
serdes_preemphasis_130=0x580c
serdes_preemphasis_131=0x580c

mmu_init_config="MSFT-TH2-Tier0"
sai_tunnel_support=1
{{ IPinIP_sock }}
phy_an_lt_msft=1
