[Unit]
Description=Wistron 6512-32R Platform SysEEPROM service
After=platform-modules-6512-32r.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/platform_syseeprom
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
