[Unit]
Description=Update rsyslog configuration
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsyslog-config.sh

[Install]
WantedBy=multi-user.target
