[Unit]
Description=Update rsyslog configuration
Requires=database.service
After=database.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsyslog-config.sh

[Install]
WantedBy=multi-user.target
