[Unit]
Description=Update rsyslog configuration
Before=rsyslog.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsyslog-config.sh

[Install]
WantedBy=multi-user.target
