[Unit]
Description=Celestica Midstone-100x platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-midstone-100x start
ExecStop=-/etc/init.d/platform-modules-midstone-100x stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
