[Unit]
Description=Accton AS7716-32XB Platform Monitoring service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as7716_32xb_util.py install
ExecStart=/usr/local/bin/accton_as7716_32xb_drv_handler.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
