Source: nephos-modules
Section: main
Priority: extra
Maintainer: support <simon.ji@nephosinc.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: nephos-modules
Architecture: amd64
Depends: linux-image-4.9.0-11-2-amd64
Description: kernel modules for nephos asic

