[submodule "sonic-swss-common"]
	path = src/sonic-swss-common
	url = https://github.com/Azure/sonic-swss-common
[submodule "sonic-linux-kernel"]
	path = src/sonic-linux-kernel
	url = https://github.com/Azure/sonic-linux-kernel
[submodule "sonic-sairedis"]
	path = src/sonic-sairedis
	url = https://github.com/Azure/sonic-sairedis
[submodule "sonic-swss"]
	path = src/sonic-swss
	url = https://github.com/Azure/sonic-swss
[submodule "src/p4c-bm/p4c-bm"]
	path = platform/p4/p4c-bm/p4c-bm
	url = https://github.com/krambn/p4c-bm
[submodule "src/p4-hlir/p4-hlir"]
	path = platform/p4/p4-hlir/p4-hlir
	url = https://github.com/p4lang/p4-hlir
[submodule "quagga"]
	path = src/sonic-quagga
	url = https://github.com/Azure/sonic-quagga
	branch = debian/0.99.24.1
[submodule "sonic-dbsyncd"]
	path = src/sonic-dbsyncd
	url = https://github.com/Azure/sonic-dbsyncd
[submodule "src/sonic-py-swsssdk"]
	path = src/sonic-py-swsssdk
	url = https://github.com/Azure/sonic-py-swsssdk.git
[submodule "src/sonic-snmpagent"]
	path = src/sonic-snmpagent
	url = https://github.com/Azure/sonic-snmpagent
[submodule "src/ptf"]
	path = src/ptf
	url = https://github.com/p4lang/ptf.git
[submodule "src/sonic-utilities"]
	path = src/sonic-utilities
	url = https://github.com/Azure/sonic-utilities
[submodule "platform/broadcom/sonic-platform-modules-s6000"]
	path = platform/broadcom/sonic-platform-modules-s6000
	url = https://github.com/Azure/sonic-platform-modules-s6000
[submodule "platform/broadcom/sonic-platform-modules-arista"]
	path = platform/broadcom/sonic-platform-modules-arista
	url = https://github.com/aristanetworks/sonic
[submodule "platform/broadcom/sonic-platform-modules-dell"]
	path = platform/broadcom/sonic-platform-modules-dell
	url = https://github.com/Azure/sonic-platform-modules-dell
[submodule "platform/broadcom/sonic-platform-modules-ingrasys"]
	path = platform/broadcom/sonic-platform-modules-ingrasys
	url = https://github.com/Ingrasys-sonic/sonic-platform-modules-ingrasys
[submodule "src/sonic-platform-common"]
	path = src/sonic-platform-common
	url = https://github.com/Azure/sonic-platform-common
[submodule "src/sonic-platform-daemons"]
	path = src/sonic-platform-daemons
	url = https://github.com/Azure/sonic-platform-daemons
[submodule "platform/broadcom/sonic-platform-modules-accton"]
	path = platform/broadcom/sonic-platform-modules-accton
	url = https://github.com/edge-core/sonic-platform-modules-accton.git
[submodule "platform/broadcom/sonic-platform-modules-cel"]
	path = platform/broadcom/sonic-platform-modules-cel
	url = https://github.com/celestica-Inc/sonic-platform-modules-cel.git
[submodule "src/sonic-frr/frr"]
	path = src/sonic-frr/frr
	url = https://github.com/FRRouting/frr.git
[submodule "platform/p4/p4-hlir/p4-hlir-v1.1"]
	path = platform/p4/p4-hlir/p4-hlir-v1.1
	url = https://github.com/p4lang/p4-hlir.git
[submodule "platform/p4/SAI-P4-BM"]
	path = platform/p4/SAI-P4-BM
	url = https://github.com/Mellanox/SAI-P4-BM.git
[submodule "platform/nephos/sonic-platform-modules-ingrasys"]
	path = platform/nephos/sonic-platform-modules-ingrasys
	url = https://github.com/Ingrasys-sonic/sonic-platform-modules-ingrasys-nephos.git
[submodule "platform/broadcom/sonic-platform-modules-quanta"]
	path = platform/broadcom/sonic-platform-modules-quanta
	url = https://github.com/QuantaSwitchONIE/sonic-platform-modules-quanta.git
[submodule "platform/broadcom/sonic-platform-modules-mitac"]
	path = platform/broadcom/sonic-platform-modules-mitac
	url = https://github.com/MiTAC-EBU/sonic-platform-modules-mitac.git
[submodule "platform/p4/sonic-platform-modules-arista"]
	path = platform/p4/sonic-platform-modules-arista
	url = https://github.com/aristanetworks/sonic
