[submodule "docker-base"]
	path = dockers/docker-base
	url = https://github.com/Azure/sonic-docker-base.git
[submodule "sonic-swss-common"]
	path = src/sonic-swss-common
	url = https://github.com/Azure/sonic-swss-common
[submodule "sonic-linux-kernel"]
	path = src/sonic-linux-kernel
	url = https://github.com/Azure/sonic-linux-kernel
[submodule "sonic-sairedis"]
	path = src/sonic-sairedis
	url = https://github.com/Azure/sonic-sairedis
[submodule "sonic-swss"]
	path = src/sonic-swss
	url = https://github.com/Azure/sonic-swss
