[submodule "sonic-swss-common"]
	path = src/sonic-swss-common
	url = https://github.com/Azure/sonic-swss-common
[submodule "sonic-linux-kernel"]
	path = src/sonic-linux-kernel
	url = https://github.com/Azure/sonic-linux-kernel
[submodule "sonic-sairedis"]
	path = src/sonic-sairedis
	url = https://github.com/Azure/sonic-sairedis
[submodule "sonic-swss"]
	path = src/sonic-swss
	url = https://github.com/Azure/sonic-swss
[submodule "src/p4c-bm/p4c-bm"]
	path = platform/p4/p4c-bm/p4c-bm
	url = https://github.com/krambn/p4c-bm
[submodule "src/p4-hlir/p4-hlir"]
	path = platform/p4/p4-hlir/p4-hlir
	url = https://github.com/p4lang/p4-hlir
[submodule "quagga"]
	path = src/sonic-quagga
	url = https://github.com/Azure/sonic-quagga
	branch = debian/0.99.24.1
[submodule "sonic-dbsyncd"]
	path = src/sonic-dbsyncd
	url = https://github.com/Azure/sonic-dbsyncd
[submodule "src/sonic-py-swsssdk"]
	path = src/sonic-py-swsssdk
	url = https://github.com/Azure/sonic-py-swsssdk.git
[submodule "src/sonic-snmpagent"]
	path = src/sonic-snmpagent
	url = https://github.com/Azure/sonic-snmpagent
[submodule "src/ptf"]
	path = src/ptf
	url = https://github.com/p4lang/ptf.git
[submodule "src/sonic-utilities"]
	path = src/sonic-utilities
	url = https://github.com/Azure/sonic-utilities
[submodule "platform/broadcom/sonic-platform-modules-arista"]
	path = platform/broadcom/sonic-platform-modules-arista
	url = https://github.com/aristanetworks/sonic
[submodule "src/sonic-platform-common"]
	path = src/sonic-platform-common
	url = https://github.com/Azure/sonic-platform-common
	branch = 202012
[submodule "src/sonic-platform-daemons"]
	path = src/sonic-platform-daemons
	url = https://github.com/Azure/sonic-platform-daemons
[submodule "src/sonic-frr/frr"]
	path = src/sonic-frr/frr
	url = https://github.com/Azure/sonic-frr.git
	branch = frr/7.5
[submodule "platform/p4/p4-hlir/p4-hlir-v1.1"]
	path = platform/p4/p4-hlir/p4-hlir-v1.1
	url = https://github.com/p4lang/p4-hlir.git
[submodule "platform/p4/SAI-P4-BM"]
	path = platform/p4/SAI-P4-BM
	url = https://github.com/Mellanox/SAI-P4-BM.git
[submodule "platform/barefoot/sonic-platform-modules-arista"]
	path = platform/barefoot/sonic-platform-modules-arista
	url = https://github.com/aristanetworks/sonic
[submodule "platform/mellanox/hw-management/hw-mgmt"]
	path = platform/mellanox/hw-management/hw-mgmt
	url = https://github.com/Mellanox/hw-mgmt
[submodule "src/redis-dump-load"]
	path = src/redis-dump-load
	url = https://github.com/p/redis-dump-load.git
[submodule "platform/mellanox/mlnx-sai/SAI-Implementation"]
	path = platform/mellanox/mlnx-sai/SAI-Implementation
	url = https://github.com/Mellanox/SAI-Implementation
[submodule "src/sonic-mgmt-framework"]
	path = src/sonic-mgmt-framework
	url = https://github.com/Azure/sonic-mgmt-framework
[submodule "src/sonic-telemetry"]
	path = src/sonic-telemetry
	url = https://github.com/Azure/sonic-telemetry
[submodule "Switch-SDK-drivers"]
	path = platform/mellanox/sdk-src/sx-kernel/Switch-SDK-drivers
	url = https://github.com/Mellanox/Switch-SDK-drivers
[submodule "src/sonic-ztp"]
	path = src/sonic-ztp
	url = https://github.com/Azure/sonic-ztp
[submodule "src/sonic-restapi"]
	path = src/sonic-restapi
	url = https://github.com/Azure/sonic-restapi.git
	branch = master
[submodule "src/sonic-mgmt-common"]
	path = src/sonic-mgmt-common
	url = https://github.com/Azure/sonic-mgmt-common.git
