Source: sonic-ragile-platform-modules
Section: main
Priority: extra
Maintainer: support
Standards-Version: 3.9.3

Package: platform-modules-ragile-ra-b6510-48v8c
Architecture: amd64
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-ragile-ra-b6510-32c
Architecture: amd64
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-ragile-ra-b6910-64c
Architecture: amd64
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-ragile-ra-b6920-4s
Architecture: amd64
Description: kernel modules for platform devices such as fan, led, sfp
