{# Append DHCPv4 agents #}
{% if vlan_name in ipv4_vlan_interfaces %}
[program:isc-dhcpv4-relay-{{ vlan_name }}]
{# We treat this VLAN as a downstream interface (-id), as we only want to listen for requests #}
command=/usr/sbin/dhcrelay -d -m discard -a %%h:%%p %%P --name-alias-map-file /tmp/port-name-alias-map.txt -id {{ vlan_name }}
{#- Dual ToR Option #}
{% if 'subtype' in DEVICE_METADATA['localhost'] and DEVICE_METADATA['localhost']['subtype'] == 'DualToR' %} -U Loopback0 -dt{% endif -%}
{#- si option to use intf addr in relay #}
{% if DEVICE_METADATA['localhost']['deployment_id'] == '8' %} -si{% endif -%}
{#- We treat all other interfaces as upstream interfaces (-iu), as we only want to listen for replies #}
{% for (name, prefix) in VLAN_INTERFACE|pfx_filter %}
{% if prefix | ipv4 and name != vlan_name %} -iu {{ name }}{% endif -%}
{% endfor %}
{% for (name, prefix) in INTERFACE|pfx_filter %}
{% if prefix | ipv4 %} -iu {{ name }}{% endif -%}
{% endfor %}
{% for port in PORT %}
{% set portchannel_member = namespace(found=false) %}
{% set vlan_member = namespace(found=false) %}
{% for key in PORTCHANNEL_MEMBER %}
{% if key[1] == port %}
{% set portchannel_member.found = true %}
{% endif %}
{% endfor %}
{% for key in VLAN_MEMBER %}
{% if key[1] == port %}
{% set vlan_member.found = true %}
{% endif %}
{% endfor %}
{% if not portchannel_member.found %}
{% if not vlan_member.found %} -iu {{ port }}{% endif -%}
{% endif %}
{% endfor %}
{% for port in PORTCHANNEL %}
{% set vlan_member = namespace(found=false) %}
{% for key in VLAN_MEMBER %}
{% if key[1] == port %}
{% set vlan_member.found = true %}
{% endif %}
{% endfor %}
{% if not vlan_member.found %} -iu {{ port }}{% endif -%}
{% endfor %}
{%- for vxlan_map_realy_from in VXLAN_TUNNEL_MAP %}
    {%- if VXLAN_TUNNEL_MAP[vxlan_map_realy_from]['vlan'] == vlan_name %}
        {%- set vxlan_intf_ip = namespace(found=false) %}
        {%- for vxlan_map_realy_to in VXLAN_TUNNEL_MAP %}
            {%- if VXLAN_TUNNEL_MAP[vxlan_map_realy_to]['vlan'] != vlan_name %}
                {%- for (name, prefix) in VLAN_INTERFACE|pfx_filter %}
                    {%- if prefix | ipv4 and name == VXLAN_TUNNEL_MAP[vxlan_map_realy_to]['vlan'] %}{%- set vxlan_intf_ip.found = true %}{%- endif -%}
                {%- endfor %}
                {%- if not vxlan_intf_ip.found %}
                    {%- for vrf_name in VRF %}
                        {%- if VRF[vrf_name]['vni'] == VXLAN_TUNNEL_MAP[vxlan_map_realy_to]['vni'] %}
                            {%- if VXLAN_TUNNEL_MAP[vxlan_map_realy_to]['vlan'] %} -iu {{ VXLAN_TUNNEL_MAP[vxlan_map_realy_to]['vlan'] }}{%- endif -%}
                        {%- endif %}
                    {%- endfor %}
                {%- endif %}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
{% for (name, gateway) in VLAN_INTERFACE|get_primary_addr %}
{% if gateway | ipv4 and name == vlan_name %} -pg {{ gateway }}{% endif -%}
{% endfor %}
{% for dhcp_server in VLAN[vlan_name]['dhcp_servers'] %}
{%- if dhcp_server | ipv4 %} {{ dhcp_server }}{% endif -%}
{% endfor %}

priority=3
autostart=false
autorestart=false
stdout_logfile=syslog
stderr_logfile=syslog
dependent_startup=true
dependent_startup_wait_for=start:exited

{% endif %}
