SERVERS="{{ DHCP_SERVER | join(' ') }}"

INTERFACES="
{%- set add_preceding_space = { 'flag': False } %}
{%- for (name, prefix) in INTERFACE %}
{%- if prefix | ipv4 %}
{%- if add_preceding_space.flag %} {% endif %}
{{ name }}
{%- set _dummy = add_preceding_space.update({'flag': True}) %}
{%- endif %}
{%- endfor %}
{%- for (name, prefix) in VLAN_INTERFACE %}
{%- if prefix | ipv4 %}
{%- if add_preceding_space.flag %} {% endif %}
{{ name }}
{%- set _dummy = add_preceding_space.update({'flag': True}) %}
{%- endif %}
{%- endfor %}
{%- for (name, prefix) in PORTCHANNEL_INTERFACE %}
{%- if prefix | ipv4 %}
{%- if add_preceding_space.flag %} {% endif %}
{{ name }}
{%- set _dummy = add_preceding_space.update({'flag': True}) %}
{%- endif %}
{%- endfor %}"

# '-a' option provides option 82 circuit_id and remote_id information
OPTIONS="-a %h:%p %P"
