Source: bfn-modules
Section: main
Priority: extra
Maintainer: support <support@barefootnetworks.com>
Build-Depends: debhelper (>= 8.0.0), bzip2, python3
Standards-Version: 3.9.3

Package: bfn-modules
Architecture: amd64
Depends: linux-image-6.1.0-29-2-amd64-unsigned
Description: kernel modules for bfn asic for mmap

