Source: sonic-platform-modules-bfn-newport
Section: main
Priority: extra
Maintainer: Support <support@edge-core.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-modules-bfn-newport
Architecture: amd64
Depends: linux-image-4.19.0-9-2-amd64-unsigned
Description: kernel module for bfn platform fpga and scripts for the devices such as fan, led, sfp

