{
    "COPP_GROUP": {
        "copp-system-lacp": {
            "cir":"250",
            "cbs":"250"
        },
        "copp-system-udld": {
            "cir":"250",
            "cbs":"250"
        },
        "copp-system-stp": {
            "cir":"8000",
            "cbs":"8000"
        },
        "copp-system-bfd": {
            "cir":"750",
            "cbs":"750"
        },
        "copp-system-lldp": {
            "cir":"250",
            "cbs":"250"
        },
        "copp-system-vrrp": {
            "cir":"250",
            "cbs":"250"
        },
        "copp-system-iccp": {
            "cir":"2500",
            "cbs":"2500"
        },
        "copp-system-ospf": {
            "cir":"2500",
            "cbs":"2500"
        },
        "copp-system-bgp": {
            "cir":"5000",
            "cbs":"5000"
        },
        "copp-system-pim": {
            "cir":"2500",
            "cbs":"2500"
        },
        "copp-system-igmp": {
            "cir":"1000",
            "cbs":"1000"
        },
        "copp-system-suppress": {
            "cir":"1500",
            "cbs":"1500"
        },
        "copp-system-arp": {
            "cir":"1500",
            "cbs":"1500"
        },
        "copp-system-dhcp": {
            "cir":"150",
            "cbs":"150"
        },
        "copp-system-icmp": {
            "cir":"500",
            "cbs":"500"
        },
        "copp-system-ip2me": {
            "cir":"3000",
            "cbs":"3000"
        },
        "copp-system-subnet": {
            "cir":"1000",
            "cbs":"1000"
        },
        "copp-system-mtu": {
            "cir":"250",
            "cbs":"250"
        },
        "copp-system-sflow": {
            "cir":"4000",
            "cbs":"4000"
        }
    },
    "SCHEDULER": {
        "copp-scheduler-policy@23": {
            "pir": "250"
        },
        "copp-scheduler-policy@22": {
            "pir": "250"
        },
        "copp-scheduler-policy@21": {
            "pir": "8000"
        },
        "copp-scheduler-policy@20": {
            "pir": "750"
        },
        "copp-scheduler-policy@19": {
            "pir": "2500"
        },
        "copp-scheduler-policy@18": {
            "pir": "250"
        },
        "copp-scheduler-policy@17": {
            "pir": "250"
        },
        "copp-scheduler-policy@16": {
            "pir": "2500"
        },
        "copp-scheduler-policy@15": {
            "pir": "2500"
        },
        "copp-scheduler-policy@14": {
            "pir": "5000"
        },
        "copp-scheduler-policy@13": {
            "pir": "2500"
        },
        "copp-scheduler-policy@12": {
            "pir": "1000"
        },
        "copp-scheduler-policy@11": {
            "pir": "1500"
        },
        "copp-scheduler-policy@10": {
            "pir": "1500"
        },
        "copp-scheduler-policy@9": {
            "pir": "150"
        },
        "copp-scheduler-policy@8": {
            "pir": "500"
        },
        "copp-scheduler-policy@7": {
            "pir": "3000"
        },
        "copp-scheduler-policy@6": {
            "pir": "1000"
        },
        "copp-scheduler-policy@4": {
            "pir": "250"
        },
        "copp-scheduler-policy@3": {
            "pir": "4000"
        },
        "copp-scheduler-policy@1": {
            "pir": "100"
        }
    }
}
