{% set default_cable = '5m' %}
{% set ingress_lossless_pool_size =  '4194304' %}
{% set ingress_lossy_pool_size =  '7340032' %}
{% set egress_lossless_pool_size =  '16777152' %}
{% set egress_lossy_pool_size =  '7340032' %}

{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,20) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(80,88) %}
        {%- if PORT_ALL.append("Ethernet%d" % port_idx) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(22,32) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(128,140) %}
        {%- if PORT_ALL.append("Ethernet%d" % port_idx) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(35,64) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "{{ ingress_lossless_pool_size }}",
            "type": "ingress",
            "mode": "dynamic",
            "xoff": "2867200"
        },
        "ingress_lossy_pool": {
            "size": "{{ ingress_lossy_pool_size }}",
            "type": "ingress",
            "mode": "dynamic"
        },
        "egress_lossless_pool": {
            "size": "{{ egress_lossless_pool_size }}",
            "type": "egress",
            "mode": "dynamic"
        },
        "egress_lossy_pool": {
            "size": "{{ egress_lossy_pool_size }}",
            "type": "egress",
            "mode": "dynamic"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool":"[BUFFER_POOL|ingress_lossy_pool]",
            "size":"4096",
            "dynamic_th":"3"
        },
        "egress_lossless_profile": {
            "pool":"[BUFFER_POOL|egress_lossless_pool]",
            "size":"0",
            "dynamic_th":"7"
        },
        "egress_lossy_profile": {
            "pool":"[BUFFER_POOL|egress_lossy_pool]",
            "size":"4096",
            "dynamic_th":"3"
        },
        "q_lossy_profile": {
            "pool":"[BUFFER_POOL|egress_lossy_pool]",
            "size":"4096",
            "dynamic_th":"3"
        }
    },
{%- endmacro %}

{%- macro generate_queue_buffers(port_names) %}
    "BUFFER_QUEUE": {
        "{{ port_names }}|3-4": {
            "profile" : "[BUFFER_PROFILE|egress_lossless_profile]"
        },
        "{{ port_names }}|0-1": {
            "profile" : "[BUFFER_PROFILE|q_lossy_profile]"
        }
    }
{%- endmacro %}
