[Unit]
Description=Alphanetworks BES2348T Platform Thermal Shutdown service
Before=pmon.service
After=pddf-platform-init.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/alphanetworks_bes2348t_thermal_shutdown.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
