[Unit]
Description=Accton AS5835-54T Platform Monitoring service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as5835_54t_util.py install
ExecStart=/usr/local/bin/accton_as5835_54t_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
#StandardOutput=tty

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
