
{%- set default_cable = '40m' %}

{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,64) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "10875072",
            "type": "ingress",
            "mode": "dynamic",
            "xoff": "4194112"
        },
        "egress_lossy_pool": {
            "size": "9243812",
            "type": "egress",
            "mode": "dynamic"
        },
        "egress_lossless_pool": {
            "size": "15982720",
            "type": "egress",
            "mode": "static"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool":"[BUFFER_POOL|ingress_lossless_pool]",
            "size":"0",
            "dynamic_th":"3"
        },
        "egress_lossless_profile": {
            "pool":"[BUFFER_POOL|egress_lossless_pool]",
            "size":"1518",
            "static_th":"15982720"
        },
        "egress_lossy_profile": {
            "pool":"[BUFFER_POOL|egress_lossy_pool]",
            "size":"1518",
            "dynamic_th":"3"
        }
    },
{%- endmacro %}
