{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,6) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4 + 2)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(10,22) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4 + 2)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(26,32) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4 + 2)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(6,10) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
    {%- for port_idx in range(22,26) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}
