#!/usr/bin/make -f

PACKAGE_NAME := sonic-platform-modules-bfn
SCRIPT_SRC := $(shell pwd)/scripts
CONFIGS_SRC := $(shell pwd)/configs

%:
	dh $@

override_dh_auto_install:
	dh_installdirs -p$(PACKAGE_NAME) usr/local/bin
	cp -r $(SCRIPT_SRC)/* debian/$(PACKAGE_NAME)/usr/local/bin
	dh_installdirs -p$(PACKAGE_NAME) etc/network/interfaces.d/
	cp -r $(CONFIGS_SRC)/network/interfaces.d/* debian/$(PACKAGE_NAME)/etc/network/interfaces.d/

override_dh_usrlocal:

override_dh_pysupport:

override_dh_clean:
	dh_clean

