[Unit]
Description=Generate Monit configuration file from template
Requires=updategraph.service
After=updategraph.service
Before=monit.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/generate_monit_config

[Install]
WantedBy=multi-user.target
