[Unit]
Description=Control Plane ACL configuration daemon
Requires=updategraph.service
After=updategraph.service

[Service]
Type=simple
ExecStart=/usr/bin/caclmgrd-start.sh

[Install]
WantedBy=multi-user.target
