[Unit]
Description=Control Plane ACL configuration daemon
Requires=updategraph.service
After=updategraph.service

[Service]
Type=simple
ExecStart=/usr/bin/caclmgrd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
