[Unit]
Description=FS modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-s5800-48t4s start
ExecStop=-/etc/init.d/platform-modules-s5800-48t4s stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
