[Unit]
Description=Dell S6100 Platform modules
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStartPre=/usr/local/bin/iom_power_on.sh
ExecStart=/usr/local/bin/s6100_platform.sh init
ExecStop=/usr/local/bin/s6100_platform.sh deinit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
