[Unit]
Description= Checking Dell S6100 SSD upgrade status
After=pmon.service
DefaultDependencies=no

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/bin/s6100_ssd_upgrade_status.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

