{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,64) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx * 4)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}
