[Unit]
Description=Accton AS7512-32X Platform initialization service
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/accton_as7512_util.py install
ExecStop=/usr/bin/accton_as7512_util.py clean
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
