Source: sonic-platform-modules-embedway
Section: main
Priority: extra
Maintainer: yangbs <yangbs@centecnetworks.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: platform-modules-embedway-es6220
Architecture: amd64
Depends: linux-image-4.19.0-9-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

