#!/usr/bin/make -f

export INSTALL_MOD_DIR:=extra

KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)

%:
	dh $@

override_dh_auto_build:
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/../centec-dal

override_dh_auto_install:
	dh_installdirs -pplatform-modules-embedway-es6220 \
		$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
	cp -f $(MOD_SRC_DIR)/../centec-dal/*.ko debian/platform-modules-embedway-es6220/$(KERNEL_SRC)/$(INSTALL_MOD_DIR)

override_dh_usrlocal:

override_dh_clean:
	dh_clean
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/../centec-dal clean; \
		rm -rf $(MOD_SRC_DIR)/../centec-dal/*.ko
