[Unit]
Description=Celestica Silverstone-x platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-silverstone-x start
ExecStop=-/etc/init.d/platform-modules-silverstone-x stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target