[Unit]
Description=Dell Z9100 Qsfp Monitor
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/qsfp_monitor start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
