[Unit]
Description=Dell Z9100 LPC bus monitoring poller
DefaultDependencies=no

[Service]
User=root
ExecStart=/usr/local/bin/dell_lpc_mon.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

