Source: sonic-alphanetworks-platform-modules
Section: main
Priority: extra
Maintainer: Alphanetworks <Jun_Tseng@alphanetworks.com>, Alphanetworks <Jun_Tseng@alphanetworks.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-alphanetworks-snh60a0-320fv2
Architecture: amd64
Depends: linux-image-4.19.0-9-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: sonic-platform-alphanetworks-snh60b0-640f
Architecture: amd64
Depends: linux-image-4.19.0-9-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

