[Unit]
Description=Accton AS9817-64O Platform Monitoring service
Before=pmon.service
After=as9817_64o-platform-init.service
Requires=as9817_64o-platform-init.service

[Service]
ExecStart=/usr/local/bin/accton_as9817_64_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
#StandardOutput=tty

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
