Source: sonic-centec-platform-modules
Section: main
Priority: extra
Maintainer: shil <shil@centecnetworks.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: platform-modules-v682-48y8c-d
Architecture: amd64
Depends: linux-image-6.1.0-29-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-v682-48y8c
Architecture: amd64
Depends: linux-image-6.1.0-29-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-v682-48x8c
Architecture: amd64
Depends: linux-image-6.1.0-29-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp
