Source: opennsl
Section: main
Priority: extra
Maintainer: Guohan Lu <gulv@microsoft.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3
#Vcs-Git: git://git.debian.org/collab-maint/bcmsdk.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bcmsdk.git;a=summary

Package: opennsl-modules
Architecture: amd64
Section: main
Depends: linux-image-4.9.0-11-2-amd64
Description: kernel modules for broadcom SAI
