[Unit]
# This delay is for fast/warm reboot performance
Description=Delays LLDP docker until SONiC has started
PartOf=lldp{% if multi_instance == 'true' %}@%i{% endif %}.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=1min 30 sec
Unit=lldp{% if multi_instance == 'true' %}@%i{% endif %}.service

[Install]
WantedBy=timers.target sonic.target sonic-delayed.target
