{% set ipv4_addresses = [] %}
{% set ipv6_addresses = [] %}
{% set ipv4_loopback_addresses = [] %}
{% set ipv6_loopback_addresses = [] %}
{% for (name, prefix) in LOOPBACK_INTERFACE|pfx_filter %}
    {%- if prefix | ipv4 and name == 'Loopback0' %}
        {%- set ipv4_addresses = ipv4_addresses.append(prefix) %}
        {%- set ipv4_loopback_addresses = ipv4_loopback_addresses.append(prefix) %}
    {%- endif %}
    {%- if prefix | ipv6 and name == 'Loopback0' %}
        {%- set ipv6_addresses = ipv6_addresses.append(prefix) %}
        {%- set ipv6_loopback_addresses = ipv6_loopback_addresses.append(prefix) %}
    {%- endif %}
{% endfor %}
{% for (name, prefix) in INTERFACE|pfx_filter %}
    {%- if prefix | ipv4 %}
        {%- set ipv4_addresses = ipv4_addresses.append(prefix) %}
    {%- endif %}
    {%- if prefix | ipv6 %}
        {%- set ipv6_addresses = ipv6_addresses.append(prefix) %}
    {%- endif %}
{% endfor %}
{% for (name, prefix) in PORTCHANNEL_INTERFACE|pfx_filter %}
    {%- if prefix | ipv4 %}
        {%- set ipv4_addresses = ipv4_addresses.append(prefix) %}
    {%- endif %}
    {%- if prefix | ipv6 %}
        {%- set ipv6_addresses = ipv6_addresses.append(prefix) %}
    {%- endif %}
{% endfor %}
{% for (name, prefix) in VLAN_INTERFACE|pfx_filter %}
    {%- if prefix | ipv4 %}
        {%- set ipv4_addresses = ipv4_addresses.append(prefix) %}
    {%- endif %}
    {%- if prefix | ipv6 %}
        {%- set ipv6_addresses = ipv6_addresses.append(prefix) %}
    {%- endif %}
{% endfor %}
[
{% if ipv4_loopback_addresses %}
    {
        "TUNNEL_DECAP_TABLE:IPINIP_TUNNEL" : {
            "tunnel_type":"IPINIP",
{% if "mlnx" in DEVICE_METADATA.localhost.platform %}
            "dst_ip":"{% for prefix in ipv4_loopback_addresses %}{{ prefix | ip }}{% if not loop.last %},{% endif %}{% endfor %}",
            "dscp_mode":"uniform",
            "ecn_mode":"standard",
{% else %}
            "dst_ip":"{% for prefix in ipv4_addresses %}{{ prefix | ip }}{% if not loop.last %},{% endif %}{% endfor %}",
            "dscp_mode":"pipe",
            "ecn_mode":"copy_from_outer",
{% endif %}
            "ttl_mode":"pipe"
        },
        "OP": "SET"
    } 
{% endif %}
{% if ipv4_loopback_addresses and ipv6_loopback_addresses %}    ,
{% endif %}
{% if ipv6_loopback_addresses %}
    {
        "TUNNEL_DECAP_TABLE:IPINIP_V6_TUNNEL" : {
            "tunnel_type":"IPINIP",
{% if "mlnx" in DEVICE_METADATA.localhost.platform %}
            "dst_ip":"{% for prefix in ipv6_loopback_addresses %}{{ prefix | ip }}{% if not loop.last %},{% endif %}{% endfor %}",
            "dscp_mode":"uniform",
            "ecn_mode":"standard",
{% else %}
            "dst_ip":"{% for prefix in ipv6_addresses %}{{ prefix | ip }}{% if not loop.last %},{% endif %}{% endfor %}",
            "dscp_mode":"pipe",
            "ecn_mode":"copy_from_outer",
{% endif %}
            "ttl_mode":"pipe"
        },
        "OP": "SET"
    }
{% endif %}
]
