[
{% if erspan_dst %}
    {
        "MIRROR_SESSION_TABLE:everflow": {
            "src_ip": "{{ minigraph_lo_interfaces[0]['addr'] }}",
            "dst_ip": "{{ erspan_dst[0] }}",
{% if onie_switch_asic == "mlnx" %}
            "gre_type": "0x6558",
            "queue": "1",
{% else %}
            "gre_type": "0x88be",
            "queue": "0",
{% endif %}
            "dscp": "8",
            "ttl": "255"
        },
        "OP": "SET"
    }
{% endif %}
]

