[
{% if MIRROR_SESSION %}
{% for session in MIRROR_SESSION %}
    {
        "MIRROR_SESSION_TABLE:{{session}}": {
            "src_ip": "{{ MIRROR_SESSION[session]['src_ip'] }}",
            "dst_ip": "{{ MIRROR_SESSION[session]['dst_ip'] }}",
{% if onie_switch_asic == "mlnx" %}
            "gre_type": "0x6558",
            "queue": "1",
{% else %}
            "gre_type": "0x88be",
            "queue": "0",
{% endif %}
            "dscp": "8",
            "ttl": "255"
        },
        "OP": "SET"
    }{% if not loop.last %},{% endif %}

{% endfor %}
{% endif %}
]

