[
{% if PORT %}
{% for port in PORT %}
{% if PORT[port].has_key('speed') %}
    {
        "PORT_TABLE:{{ port }}": {
            "speed": "{{ PORT[port]['speed'] }}",
            "description": "{{ PORT[port]['description'] }}"
        },
        "OP": "SET"
    }{% if not loop.last %},{% endif %}

{% endif %}
{% endfor %}
{% endif %}
]
