[
{% if PORT %}
{% set ns = {'firstPrinted': False} %}
{% for port in PORT %}
{% if PORT[port].has_key('speed') %}
    {% if ns.firstPrinted %},{% endif %}{
        "PORT_TABLE:{{ port }}": {
            "speed": "{{ PORT[port]['speed'] }}"
        },
        "OP": "SET"
    }{% if ns.update({'firstPrinted': True}) %} {% endif %}

{% endif %}
{% endfor %}
{% endif %}
]
