{
    "asic_type": "{{ asic_type }}",
    "asic_id": "{{ DEVICE_METADATA.localhost.asic_id }}",
    "mac": "{{ DEVICE_METADATA.localhost.mac }}",
    "synchronous_mode": "{{ DEVICE_METADATA.localhost.synchronous_mode }}"
}

