Source: sonic-ufispace-platform-modules
Section: main
Priority: extra
Maintainer: Leo Lin <leo.yt.lin@ufispace.com>, Jason Tsai <jason.cy.tsai@ufispace.com>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 1.0.0

Package: sonic-platform-ufispace-s9180-32x
Architecture: amd64 
Description: This package contains s9180-32x platform driver utility for SONiC project.
