[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-e530-24x2c start
ExecStop=-/etc/init.d/platform-modules-e530-24x2c stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
