[Unit]
Description=Accton AS9726_32D Platform Monitoring PSU service
Before=pmon.service
After=as9726-32d-platform-monitor.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/accton_as9726_32d_monitor_psu.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
