[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-ra-b6010-48gt4x start
ExecStop=-/etc/init.d/platform-modules-ra-b6010-48gt4x stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
