[Unit]
Description=PDDF module and device initialization service
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pddf_util.py install
ExecStop=/usr/local/bin/pddf_util.py clean
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
