#!/usr/bin/make -f

build:

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --no-start --name=caclmgrd
	dh_installsystemd --no-start --name=hostcfgd
	dh_installsystemd --no-start --name=procdockerstatsd
