#!/usr/bin/make -f

ifeq (${ENABLE_HOST_SERVICE_ON_START}, y)
	HOST_SERVICE_OPTS := --no-start
else
	HOST_SERVICE_OPTS := --no-start --no-enable
endif


build:

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --no-start --name=caclmgrd
	dh_installsystemd --no-start --name=hostcfgd
	dh_installsystemd --no-start --name=featured
	dh_installsystemd --no-start --name=aaastatsd
	dh_installsystemd --no-start --name=procdockerstatsd
	dh_installsystemd --no-start --name=determine-reboot-cause
	dh_installsystemd --no-start --name=process-reboot-cause
	dh_installsystemd $(HOST_SERVICE_OPTS) --name=sonic-hostservice

