[Unit]
Description=Delays feature daemon until SONiC has started
PartOf=featured.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=1min 30 sec
Unit=featured.service

[Install]
WantedBy=timers.target sonic.target

