[Unit]
Description=SONiC Host Service

[Service]
Type=dbus
BusName=org.SONiC.HostService

ExecStart=/usr/bin/python3 -u /usr/local/bin/sonic-host-server

Restart=on-failure
RestartSec=10
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
