[Unit]
Description=Delays process-reboot-cause until network is stably connected

[Timer]
OnBootSec=1min 30 sec
Unit=process-reboot-cause.service

[Install]
WantedBy=timers.target
