[Unit]
Description=Control Plane ACL configuration daemon
Requires=updategraph.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target

[Service]
Type=simple
ExecStart=/usr/local/bin/caclmgrd
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
