[Unit]
Description=Reboot cause determination service
Requires=rc-local.service database.service
After=rc-local.service database.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/determine-reboot-cause

[Install]
WantedBy=multi-user.target
