[Unit]
Description=Celestica Silverstone platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-silverstone start
ExecStop=-/etc/init.d/platform-modules-silverstone stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target