#!/usr/bin/make -f

export INSTALL_MOD_DIR:=extra

KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
MODULE_DIRS:= sse-t7132s

%:
	dh $@

override_dh_auto_build:
	(for mod in $(MODULE_DIRS); do \
                make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules; \
                cd $(MOD_SRC_DIR)/$${mod}; \
                python3 setup.py bdist_wheel -d $(MOD_SRC_DIR)/$${mod}/modules; \
                cd $(MOD_SRC_DIR); \
        done)

override_dh_auto_install:
	(for mod in $(MODULE_DIRS); do \
                dh_installdirs -pplatform-modules-$${mod} \
                        $(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
                cp $(MOD_SRC_DIR)/$${mod}/modules/*.ko \
                        debian/platform-modules-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
        done)

override_dh_usrlocal:

override_dh_clean:
	dh_clean
	(for mod in $(MODULE_DIRS); do \
                make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules clean; \
                rm -f $(MOD_SRC_DIR)/$${mod}/modules/*.whl; \
                rm -rf $(MOD_SRC_DIR)/$${mod}/build; \
                rm -rf $(MOD_SRC_DIR)/$${mod}/*.egg-info; \
        done)

