Source: sonic-pddf-platform-modules
Section: main
Priority: extra
Maintainer: Broadcom <sk@broadcom.com>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-pddf
Architecture: amd64
Description: kernel modules for platform devices such as psu, fan, sfp, led


