{
    "DEVICE_METADATA": {{ DEVICE_METADATA | tojson }},
    {% set ns = {'firstPrinted': False} -%}
    "PORT": {
        {%- for key,value in PORT.iteritems() -%}
        {%- if ns.firstPrinted %},{% endif %}

        "{{ key }}": {
            "alias": "{{ value.alias }}",
            "lanes": "{{ value.lanes }}",
            "admin_status": "up"
        }
        {%- if ns.update({'firstPrinted': True}) %}{% endif -%}
        {%- endfor %}

    },
    "VLAN": {
        "Vlan1000": {
            "vlanid": "1000"
        }
    },
    {% set ns = {'firstPrinted': False} -%}
    "VLAN_MEMBER": {
        {%- for port in PORT -%}
        {%- if ns.firstPrinted %},{% endif %}

        "Vlan1000|{{ port }}": {
            "tagging_mode": "untagged"
        }
        {%- if ns.update({'firstPrinted': True}) %}{% endif -%}
        {%- endfor %}

    }
}
