!
{% block vrf %}
{%  if VNET is defined %}
{%   for vnet_name, vnet_metadata in VNET.items() %}
vrf {{ vnet_name }}
vni {{ vnet_metadata['vni'] }}
!
{%   endfor %}
{%  endif %}
{% endblock vrf %}
!
{% block interfaces %}
! Enable nht through default route
ip nht resolve-via-default
ipv6 nht resolve-via-default
! Enable link-detect (default disabled)
{% for (name, prefix) in INTERFACE|pfx_filter %}
interface {{ name }}
link-detect
!
{% endfor %}
{% for pc in PORTCHANNEL %}
interface {{ pc }}
link-detect
!
{% endfor %}
{% if (DEVICE_METADATA is defined) and ('localhost' in DEVICE_METADATA) and ('subtype' in DEVICE_METADATA['localhost']) and (DEVICE_METADATA['localhost']['subtype'].lower() == 'dualtor') %}
! Disable link-detect on VLAN interfaces for dualtor
{% for (name, prefix) in VLAN_INTERFACE|pfx_filter|unique(attribute=0) %}
interface {{ name }}
no link-detect
!
{% endfor %}
{% endif %}
{% endblock interfaces %}
!
