[Unit]
Description=Centec e582 48x6q platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-e582-48x6q start
ExecStop=-/etc/init.d/platform-modules-e582-48x6q stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
