[Unit]
Description=Delta ag5648 Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-ag5648 start
ExecStop=-/etc/init.d/platform-modules-ag5648 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
