[Unit]
Description=Delta agc032 Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-agc032 start
ExecStop=-/etc/init.d/platform-modules-agc032 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
