Source: sonic-dell-platform-modules
Section: main
Priority: extra
Maintainer: Dell Team <support@dell.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 3.9.3

Package: platform-modules-s6000
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-z9100
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s6100
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-z9264f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s5212f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s5224f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s5232f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s5248f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-n3248te
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-z9332f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-z9432f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-n3248pxe
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp

Package: platform-modules-s5296f
Architecture: amd64
Depends: linux-image-5.10.0-12-2-amd64-unsigned
Description: kernel modules for platform devices such as fan, led, sfp
