[Unit]
Description=Update interfaces configuration
Before=database.service

[Service]
Type=oneshot
ExecStart=/usr/bin/interfaces-config.sh

[Install]
WantedBy=multi-user.target

