[Unit]
Description=Update interfaces configuration
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/interfaces-config.sh

[Install]
WantedBy=multi-user.target
