[Unit]
Description=Cameo Escc601-32q Platform initialization service
After=local-fs.target innovium_platform_driver.service
Before=pmon.service


[Service]
Type=oneshot
ExecStart=/usr/local/bin/cameo_escc601_startup start
ExecStop=/usr/local/bin/cameo_escc601_startup stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
