[Unit]
Description= Ruijie Global Initialize I2c drivers.
After=local-fs.target
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/device_i2c.py start
ExecStop=/usr/local/bin/device_i2c.py stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

