[Unit]
Description=Accton AS7816-64X Platform initialization service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as7816_util.py install
ExecStart=/usr/local/bin/accton_as7816_monitor.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
