[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-v682-48y8c start
ExecStop=-/etc/init.d/platform-modules-v682-48y8c stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
