[Unit]
Description=Quanta IX9-32X Platform initialization service
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/quanta_ix9_util.py install
ExecStop=/usr/local/bin/quanta_ix9_util.py clean
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
