[Unit]
Description=Nephos kernel modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/nps-modules-4.9.0-11-2-amd64 start
ExecStop=-/etc/init.d/nps-modules-4.9.0-11-2-amd64 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
