{%- set default_cable = '300m' %}

{%- macro generate_port_lists(PORT_ALL) %}
    {# Generate list of ports #}
    {%- for port_idx in range(0,36) %}
        {%- if PORT_ALL.append("Ethernet%d" % (port_idx)) %}{%- endif %}
    {%- endfor %}
{%- endmacro %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "6441610000",
            "type": "both",
            "mode": "dynamic",
            "xoff": "24979046"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool":"ingress_lossless_pool",
            "size":"1280",
	    "xon_offset": "2560",
            "dynamic_th":"0"
        },
        "egress_lossless_profile": {
            "pool":"ingress_lossless_pool",
            "size":"0",
            "static_th":"33030144"
        },
        "egress_lossy_profile": {
            "pool":"ingress_lossless_pool",
            "size":"0",
            "dynamic_th":"-1"
        }
    },
{%- endmacro %}
