[Unit]
Description=Accton AS4630-54TE Platform Monitoring service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/accton_as4630_54te_util.py install
ExecStart=/usr/local/bin/accton_as4630_54te_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
