[Unit]
Description=Internal topology service
Requires=database.service
After=database.service
PartOf=database.service

[Service]
Type=oneshot
User=root
RemainAfterExit=yes
ExecStart=/usr/bin/topology.sh start
ExecStop=/usr/bin/topology.sh stop

[Install]
WantedBy=multi-user.target

