#!/usr/bin/make -f

export INSTALL_MOD_DIR:=extra

KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
MODULE_DIRS:= 48x6q 48x2q4z

%:
	dh $@

override_dh_auto_build:
	(for mod in $(MODULE_DIRS); do \
		make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules; \
	done)
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/../centec-dal

override_dh_auto_install:
	(for mod in $(MODULE_DIRS); do \
		dh_installdirs -pplatform-modules-e582-$${mod} \
			$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		cp -f $(MOD_SRC_DIR)/$${mod}/modules/*.ko \
			debian/platform-modules-e582-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
		cp -f $(MOD_SRC_DIR)/../centec-dal/*.ko debian/platform-modules-e582-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR); \
	done)

override_dh_usrlocal:

override_dh_clean:
	dh_clean
	(for mod in $(MODULE_DIRS); do \
		make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules clean; \
		rm -rf $(MOD_SRC_DIR)/$${mod}/modules/*.ko; \
		rm -rf debian/platform-modules-e582-$${mod}/$(KERNEL_SRC)/$(INSTALL_MOD_DIR)/*.ko; \
	done)
	make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/../centec-dal clean; \
		rm -rf $(MOD_SRC_DIR)/../centec-dal/*.ko

