[Unit]
Description=Wistron SW-TO3200K Platform LED service
After=platform-modules-sw-to3200k.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/platform_led
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
