[Unit]
Description=Disable the watchdog after boot
After=swss.service
After=opennsl-modules-3.16.0-5-amd64.service
ConditionKernelCommandLine=sid=Gardena

[Service]
User=root
Type=oneshot
RemainAfterExit=true

ExecStart=
ExecStart=/usr/bin/arista-gardena-watchdog --stop

ExecStop=

[Install]
WantedBy=multi-user.target
