[Unit]
Description=Delta EVS-A-32Q56 Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-evs-a-32q56 start
ExecStop=-/etc/init.d/platform-modules-evs-a-32q56 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
