[Unit]
Description=Dell Z9432F Platform modules
Before=pmon.service
After=platform-init.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/z9432f_platform.sh init
ExecStop=/usr/local/bin/z9432f_platform.sh deinit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
