[Unit]
Description=Dell E3224F Platform modules
Before=pmon.service
After=platform-init.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/e3224f_platform.sh init
ExecStop=/usr/local/bin/e3224f_platform.sh deinit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
