[Unit]
Description=Update NTP configuration
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ntp-config.sh

[Install]
WantedBy=multi-user.target
