[Unit]
Description=Update NTP configuration
Before=ntp.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ntp-config.sh

[Install]
WantedBy=multi-user.target
