[Unit]
Description=Update NTP configuration
Requires=updategraph.service
After=updategraph.service bgp.service dhcp_relay.service lldp.service pmon.service radv.service snmp.service swss.service syncd.service teamd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ntp-config.sh

[Install]
WantedBy=multi-user.target
