[Unit]
Description= This QSFP Monitor service is to setup QSFP SI.
Requires=s9180-32x-monitor.service
After=s9180-32x-monitor.service

[Service]
ExecStart=/usr/sbin/qsfp_monitor.sh
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
