[Unit]
Description=Update minigraph and set configuration based on minigraph
After=rc-local.service
After=database.service
Requires=database.service

[Service]
Type=oneshot
ExecStart=/usr/bin/updategraph
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
