[Unit]
Description=Accton AS5835-54X Platform Monitoring PSU service
Before=pmon.service
After=as5835-54x-platform-monitor.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/accton_as5835_54x_monitor_psu.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
