[Unit]
Description= ragile Global Initialize I2c drivers.
After=pddf-platform-init.service
Before=pmon.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/device_i2c.py start
ExecStop=/usr/local/bin/device_i2c.py stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

