[Unit]
Description=Host config enforcer daemon
Requires=updategraph.service
After=updategraph.service

[Service]
Type=simple
ExecStart=/usr/bin/hostcfgd

[Install]
WantedBy=multi-user.target
