{
    "BUFFER_POOL": {
        "ingress_lossy_pool": {
            "size": "62490096",
            "type": "ingress",
            "mode": "dynamic",
            "xoff": "0"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossy_profile": {
            "pool": "ingress_lossy_pool",
            "size": "0",
            "dynamic_th": "3"
        }
    }
}
