Source: mrvlprestera
Section: unknown
Priority: optional
Maintainer: Marvell <arheneus@marvell.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/mrvlprestera.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mrvlprestera.git

Package: mrvlprestera
Architecture: armhf
Homepage: <insert the upstream URL, if relevant>
Description: 
	kernel modules for prestera switch driver 
