Source: sonic-quanta-platform-modules
Section: main
Priority: extra
Maintainer: Chih-Pei Chang <Chih-Pei.Chang@qct.io>, Jonathan Tsai <jonathan.tsai@quantatw.com> 
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.3

Package: sonic-platform-quanta-ix1b-32x
Architecture: amd64
Description: kernel modules for platform devices such as psu, led, sfp

Package: sonic-platform-quanta-ix7-32x
Architecture: amd64
Description: kernel modules for platform devices such as psu, led, sfp

Package: sonic-platform-quanta-ix8-56x
Architecture: amd64
Description: kernel modules for platform devices such as psu, led, sfp

Package: sonic-platform-quanta-ix8c-56x
Architecture: amd64
Description: kernel modules for platform devices such as psu, led, sfp

Package: sonic-platform-quanta-ix9-32x
Architecture: amd64
Description: kernel modules for platform devices such as psu, led, sfp
