[Unit]
Description=Cameo Esc600-128q Platform initialization service
After=local-fs.target innovium_platform_driver.service
Before=pmon.service
Before=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cameo_esc600_startup start
ExecStop=/usr/local/bin/cameo_esc600_startup stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
