[Unit]
Description=Delays the SONiC counters gathering until SONiC has started

[Timer]
OnBootSec=3min
Unit=enable_counters.service

[Install]
WantedBy=timers.target
