[Unit]
Description=ICCPD container
Requires=updategraph.service swss.service
After=updategraph.service swss.service
BindsTo=sonic.target
After=sonic.target

[Service]
User={{ sonicadmin_user }}
ExecStartPre=/usr/bin/{{docker_container_name}}.sh start
ExecStart=/usr/bin/{{docker_container_name}}.sh wait
ExecStop=/usr/bin/{{docker_container_name}}.sh stop

[Install]
WantedBy=sonic.target swss.service
