{
    "DEVICE_METADATA": {
        "localhost": {
            "default_bgp_status": {% if shutdown_bgp_on_start == "y" %}"down"{% else %}"up"{% endif %},
            "default_pfcwd_status": {% if enable_pfcwd_on_start == "y" %}"enable"{% else %}"disable"{% endif %},
            "synchronous_mode": {% if enable_synchronous_mode == "y" %}"enable"{% else %}"disable"{% endif %}
        }
    },
    "CRM": {
        "Config": {
            "polling_interval": "300",
{%- for crm_res in ["ipv4_route", "ipv6_route", "ipv4_nexthop", "ipv6_nexthop", "ipv4_neighbor",
                    "ipv6_neighbor", "nexthop_group_member", "nexthop_group", "acl_table",
                    "acl_group", "acl_entry", "acl_counter", "fdb_entry"] %}
            "{{crm_res}}_threshold_type": "percentage",
            "{{crm_res}}_low_threshold": "70",
            "{{crm_res}}_high_threshold": "85"{% if not loop.last %},{% endif -%}
{% endfor %}
        }
    },
{%- set features = [("bgp", "enabled", false, "enabled"),
                   ("database", "enabled", false, "disabled"),
                   ("dhcp_relay", "enabled", false, "enabled"),
                   ("lldp", "enabled", false, "enabled"),
                   ("pmon", "enabled", false, "enabled"),
                   ("radv", "enabled", false, "enabled"),
                   ("snmp", "enabled", true, "enabled"),
                   ("swss", "enabled", false, "enabled"),
                   ("syncd", "enabled", false, "enabled"),
                   ("teamd", "enabled", false, "enabled")] %}
{%- if include_iccpd == "y" %}{% do features.append(("iccpd", "disabled", false, "enabled")) %}{% endif %}
{%- if include_mgmt_framework == "y" %}{% do features.append(("mgmt-framework", "enabled", true, "enabled")) %}{% endif %}
{%- if include_nat == "y" %}{% do features.append(("nat", "disabled", false, "enabled")) %}{% endif %}
{%- if include_restapi == "y" %}{% do features.append(("restapi", "enabled", false, "enabled")) %}{% endif %}
{%- if include_sflow == "y" %}{% do features.append(("sflow", "disabled", false, "enabled")) %}{% endif %}
{%- if include_system_telemetry == "y" %}{% do features.append(("telemetry", "enabled", true, "enabled")) %}{% endif %}
    "FEATURE": {
{# has_timer field if set, will start the feature systemd .timer unit instead of .service unit #}
{%- for feature, state, has_timer, autorestart in features %}
        "{{feature}}": {
            "state": "{{state}}",
            "has_timer" : {{has_timer | lower()}},
            "auto_restart": "{{autorestart}}",
            "high_mem_alert": "disabled"
        }{% if not loop.last %},{% endif -%}
{% endfor %}
    }
}
