[Unit]
Description=MACsec container
Requires=swss.service
After=swss.service syncd.service
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=root
ExecStartPre=/usr/bin/macsec.sh start
ExecStart=/usr/bin/macsec.sh wait
ExecStop=/usr/bin/macsec.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target