[Unit]
Description=Delays management framework container until SONiC has started
PartOf=mgmt-framework.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=3min 30 sec
Unit=mgmt-framework.service

[Install]
WantedBy=timers.target sonic.target sonic-delayed.target
