{
{% for docker_installation_target in installer_images.strip().split() -%}
{% set pkgname, docker_build_path, image = docker_installation_target.split('|') -%}
{% set imagefilepath = image.split(':')|first -%}
{% set imageversion = image.split(':')|last -%}
{% set imagefilename = imagefilepath.split('/')|last -%}
{% set imagename = imagefilename.split('.')|first -%}
    "{{ pkgname }}": {
        "repository": "{{ imagename }}",
        "description": "SONiC {{ pkgname }} package",
        "default-reference": "{{ imageversion }}",
        "installed-version": "{{ imageversion }}",
        "built-in": true,
        "installed": true
    }{% if not loop.last %},{% endif %}
{% endfor %}
}
