[Unit]
Description=Router advertiser container
Requires=updategraph.service
After=updategraph.service swss.service syncd.service
Before=ntp-config.service
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User={{ sonicadmin_user }}
ExecStartPre=/usr/local/bin/{{ docker_container_name }}.sh start
ExecStart=/usr/local/bin/{{ docker_container_name }}.sh wait
ExecStop=/usr/local/bin/{{ docker_container_name }}.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
