[Unit]
Description=Delays snmp container until SONiC has started
Conflicts=snmp.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=3min 30 sec
Unit=snmp.service

[Install]
WantedBy=timers.target swss.service
