[Unit]
Description=Delays tacacs apply until SONiC has started
PartOf=tacacs-config.service
After=updategraph.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=5min 30 sec
Unit=tacacs-config.service

[Install]
WantedBy=timers.target sonic.target sonic-delayed.target
