[Unit]
Description=TACACS application
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/config-setup apply_tacacs
RemainAfterExit=yes

