[Unit]
Description=Update minigraph and set configuration based on minigraph
After=config-setup.service
Requires=config-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/updategraph
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
