[Unit]
Description=Update hostname based on configdb
Requires=database.service
After=database.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hostname-config.sh

[Install]
WantedBy=multi-user.target
