[Unit]
Description=Update hostname based on configdb
Requires=updategraph.service
After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hostname-config.sh

[Install]
WantedBy=multi-user.target
