[Unit]
Description=Accton AS4630-54NPE Platform Monitoring FAN service
Before=pmon.service
After=as4630-54npe-platform-monitor.service
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/accton_as4630_54npe_monitor_fan.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
