# /etc/systemd/system/rename-eth2.service
[Unit]
Description=Rename eth2 to eth0 via udev
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rename_nic-postinst.sh 


[Install]
WantedBy=multi-user.target

