{% set namespace_cnt = NAMESPACE_COUNT|int %}
{
    "INCLUDES" : [
        {
            "include" : "../../redis/sonic-db/database_config.json"
        },
{% if namespace_cnt > 1 %}
{% for ns in range(namespace_cnt) %}
        {
            "namespace" : "{{NAMESPACE_PREFIX}}{{ns}}",
            "include" : "../../redis{{ns}}/sonic-db/database_config.json"
{% if ns == namespace_cnt-1  %}
        }
{% else %}
        },
{% endif %}
{% endfor %}
    ],
    "VERSION" : "1.0"
}
{% endif %}
