[Unit]
Description=Netberg Aurora 715 Platform initialization service
After=local-fs.target innovium_platform_driver.service
Before=pmon.service


[Service]
Type=oneshot
ExecStart=/usr/local/bin/netberg_nba715_startup start
ExecStop=/usr/local/bin/netberg_nba715_startup stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
