{%- set default_cable = '5m' %}
{% set ingress_pool_size = '8493465' %}
{% set egress_pool_size = '8493465' %}

{%- macro generate_buffer_pool_and_profiles() %}
    "BUFFER_POOL": {
        "ingress_lossless_pool": {
            "size": "{{ ingress_pool_size }}",
            "type": "ingress",
            "mode": "dynamic"
        },
        "egress_lossless_pool": {
            "size": "{{ egress_pool_size }}",
            "type": "egress",
            "mode": "dynamic"
        }
    },
    "BUFFER_PROFILE": {
        "ingress_lossless_profile": {
            "pool":"ingress_lossless_pool",
            "xon": "18432",
            "xoff": "40560",
            "size":"41808",
            "dynamic_th":"0"
        },
        "ingress_lossy_profile": {
            "pool":"ingress_lossless_pool",
            "size":"3584",
            "dynamic_th":"3"
        },
        "egress_lossy_profile": {
            "pool": "egress_lossless_pool",
            "size": "1518",
            "dynamic_th": "3"
        }
    },
{%- endmacro %}

{%- macro generate_pg_profils(port_names_list_active) %}
    "BUFFER_PG": {
{% for port in port_names_list_active.split(',') %}
        "{{ port }}|0": {
            "profile" : "ingress_lossy_profile"
        },
        "{{ port }}|3-4": {
            "profile" : "ingress_lossless_profile"
        }
        {% if not loop.last %},{% endif %}
{% endfor %}
    },
{%- endmacro %}

{%- macro generate_queue_buffers(port_names_list_active) %}
    "BUFFER_QUEUE": {
{% for port in port_names_list_active.split(',') %}
        "{{ port }}|0-7": {
            "profile" : "egress_lossy_profile"
        }
        {% if not loop.last %},{% endif %}
{% endfor %}
    }
{%- endmacro %}
